<!-- Dynamic Header -->
<div class="row text-center panel panel-heading" id="liveTitle">
	<!-- Primary title -->
	<div id="primTitle" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-left fontLight zeroPadding">
		{{primTitle}}
	</div>
	<!-- Secondary Title -->
	<div id="orgTitle" class="hidden-xs">
		<h4 class="text-muted">{{curOrg.name}}</h4>
	</div>
	<div ng-switch="filterTitle" id="filterTitle" class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center zeroPadding">
		<!-- Objects View Filter -->
		<div ng-switch-when="objectsView" id="objectsViewFilter" class="btn-group">
			<div class="btn-group">
				<button class="btn btn-success btn-sm" type="button" ng-click="displayAddObjectModal()">
				<span class="glyphicon glyphicon-plus"></span>
				</button>
			</div>
			<div class="dropdown btn-group">
				<button class="btn btn-sm btn-info dropdown-toggle" type="button" data-toggle="dropdown" role="menu">
				View By: {{viewType}}
				<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li class="menuItem" ng-click="changeViewType('List')">
						<a><h5>List</h5></a>
					</li>
					<li class="menuItem" ng-click="changeViewType('Map')">
						<a><h5>Map</h5></a>
					</li>
				</ul>
			</div>
			<div id="beaconsFilterDiv" class="btn-group" data-toggle="tooltip" data-placement="right" ng-mouseenter="showBeaconsFilterTooltip()" ng-mouseleave="hideBeaconsFilterTooltip()">
				<button id="beaconFilterButton" class="btn btn-sm btn-info dropdown-toggle" type="button" data-toggle="dropdown" role="menu">
				Filter by Beacon
				<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li class="text-center" ng-click="changeBeaconFilter('All')">
						<a><h5>Show All</h5></a>
					</li>
					<li class="divider"></li>
					<li class="text-center" ng-repeat="arObject in objectsArray | removeDuplicates: 'objectsArray'" ng-click="changeBeaconFilter(arObject.beacon_name)">
						<a><h5>{{arObject.beacon_name}}</h5></a>
					</li>
				</ul>
			</div>
		</div>
		<!-- Object View Filter -->
		<div ng-switch-when="objectPrivacy">
			<label class="switch">
				<input type="checkbox">
				<div class="slider round"></div>
			</label>
		</div>
		<!-- Beacons View Filter -->
		<div ng-switch-when="beaconsView" class="btn-group">
			<div class="btn-group">
				<button class="btn btn-success btn-sm" type="button" ng-click="displayAddBeaconModal()">
				<span class="glyphicon glyphicon-plus"></span>
				</button>
			</div>
			<div class=" dropdown btn-group">
				<button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown" role="menu">
				View By: {{viewType}}
				<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li class="text-center menuItem" ng-click="changeViewType('List')">
						<a><h5>List</h5></a>
					</li>
					<li class="text-center menuItem" ng-click="changeViewType('Map')">
						<a><h5>Map</h5></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>