<nav class="navbar navbar-inverse" id="header">
	<div class="container-fluid">
		<div class="navbar-header" style="padding-right: 1em;">
			<a id="pageTitle" class="navbar-left">
				<img class="img" ng-src="images/Aura_Create_rev2.png" alt="Aura Logo" style="height: 40px"/>
			</a>
		</div>
		<ul class="nav navbar-nav">
			<li id="dashboardLink" class="active pointer" ng-click="changeView('dashboard', curOrg)">
				<a><span class="glyphicon glyphicon-stats"> Dashboard</span></a>
			</li>
			<li id="beaconsLink" class="pointer " ng-click="changeView('beaconsList', curOrg)">
				<a><span class="glyphicon glyphicon-list-alt"> Beacons</span></a>
			</li>
			<li id="objectsLink" class="pointer" ng-click="changeView('objectsList', curOrg)">
				<a><span class="glyphicon glyphicon-list-alt"> Objects</span></a>
			</li>
			<li id="settingsLink" class="pointer" ng-click="changeView('orgSettings', curOrg)">
				<a><span class="glyphicon glyphicon-cog"> Settings</span></a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown pointer">
				<a class="dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-user"></span>
					<span class="hidden-sm">{{user.name}}</span> 
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a class="pointer" ng-click="displayProfileSettingsModal()">Profile Settings <span class="glyphicon glyphicon-cog"></span></a>
					</li>
					<li>
						<a class="pointer" ng-click="signOut()">Sign Out <span class="glyphicon glyphicon-log-out"></a>
					</li>
					<li>
						<a class="pointer" ng-click="displayHelpModal()">Help <span class="glyphicon glyphicon-question-sign"></span></a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</nav>