/*--------------------------------------- Structure ----------------------------------------*/
html, body{
	height: 100vh
	margin: 0;
	position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow: auto; 
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    background-color: #191818;
    color: #F4EBEB;
}

h1{
  font-size: 225%;
}

h2{
  font-size: 187.5%;
}

h3{
  font-size: 150%;
}

h4{
  font-size: 112.5%;
}

h5{
  font-size: 87.5%;
}

h6{
  font-size: 75%;
}

/* ----------------------------Large desktops and laptops (DEFAULT)----------------------------- */
	/*--------------------------------------------Classes--------------------------------------------*/
	.addIcon{
		color: #449d44;
		cursor: pointer;
	}

	.addIcon:hover{
		color: #207020;
	}

	.bgDark111{
		background-color: #111;
	}

	.bgDark222{
		background-color: #222;
	}

	.bgDark333{
		background-color: #333;
	}

	.bootbox-close-button, .close{
		color: #F86F6F;
		cursor: pointer;
	}

	.bootbox-close-button, .close:hover{
		color: #BB6666;
	}

	.btn{
		font-size: 0.85em;
		padding: 0.50em;
	}

	.btn-block{
		min-width: 100%;
		font-size: 1.15em;
	}

	.btn-lightGreen{
		background-color: #d6e9c6;
		border-color: #CDE2BB;
		color: #3c763d;
	}

	.btn-lightGreen:hover {
		background-color: #9CBF7E;
		border-color: #92B673;
	}

	.border0{
		border: 0;
	}

	.borderRadius0{
		border-radius: 0;
	}

	.borderDark{
		border: black solid 1px;
	}

	.cancelFile{
		color: white;

	}

	.cancelFile:hover{
		cursor: pointer;
		color: #1646CB;
	}

	.carouselBody{
		min-height: 25vh;
	}

	.carousel-inner > .item > img, audio, video{
    	margin: 0 auto;
    	height: 60vh;
	}

	.columnLg{
		max-width: 15em;
	}

	.columnSm{
		max-width: 5em;
		width: auto;
	}

	.deleteIcon{
		color: #F86F6F;
		cursor: pointer;
	}

	.deleteIcon:hover{
		color: #BB6666;
	}

	.dropdown-menu{
		min-width: 0 !important;
		width: 100%;
		white-space: normal;
		overflow: auto;
		text-align: center;
		max-height: 50vh;
	}

	.dropdown-menu li a {
		white-space: normal;
	}

	.dropdown-menu > li{
		cursor: pointer;
	}

	.editIcon{
		color: #f0ad4e;
		cursor: pointer;
	}

	.editIcon:hover{
		color: #C68A36;
	}

	.ellipsisWrap{
		white-space: nowrap; 
		text-overflow: ellipsis; 
		overflow: hidden;
	}

	.fakeButton{
		cursor: default;
		background-color: #222;
		border: 1px solid #222;
		color: #4D96E0;
	}

	.fakeButton:hover{
		cursor: default;
		background-color: #222;
		border: 1px solid #222;
		color: #4D96E0;
	}

	.footer {
	  height: 6vh;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  padding: 1.5vh;
	  font-size: 0.70rem;
	  text-align: center;
	}

	.fontDark{	
		color: #4B4747;
	}

	.fontLight{
		color: #F4EBEB;
	}

	.gm-style-iw{
		color: #4B4747;
		text-align: center;
	}

	.iconCell{
		width:1%; 
		white-space:nowrap;
	}

	.list-group-itemDark{
		background-color: #252525;
		color: #4D96E0;
		border: black solid 1px;
		border-radius: 0 !important;
	}

	.list-group-itemDark:hover{
		color: white;
		background-color: #4C5C6D;
	}

	.list-group-itemDark.active{
		color: #4D96E0;
		background-color: #111;
		border: black solid 1px;
		border-radius: 0 !important;
	}

	.list-group-itemDark.active:hover{
		background-color: #111;
		border: black solid 1px;
	}

	.margin0{
		margin: 0 auto;
	}

	.media-wrap{
		width: 70%;
	}

	.menuItem:hover{
		background-color: #4C5C6D;
		cursor: pointer;
	}

	.menuName{
		display:inline; 
	}

	.modal-dialog{
	    overflow-y: initial !important;
	}

	.modal-body{
		height: auto;
		max-height: inherit;
	    overflow-y: auto;
	    background-color: #444;
	    color: white;
	    border-top: #111 solid 1px;
		border-right: #111 solid 1px;
		border-left: #111 solid 1px;
		border-bottom: #111 solid 1px;
	}

	.modal-header{
		background-color: #333;
		border-top: #111 solid 1px;
		border-right: #111 solid 1px;
		border-left: #111 solid 1px;
		border-bottom: 0;
	}

	.modal-footer{
		background-color: #333;
		border-top: 0;
		border-right: #111 solid 1px;
		border-left: #111 solid 1px;
		border-bottom: #111 solid 1px;
	}

	.navbar-inverse{
		background-color: #191818;
	}

	.panelDark{
		background-color: #1A1A1A;
		color: #337ab7;
		border: black solid 1px;
	}

	.panelDark:hover{
		cursor: pointer;
		background-color: #000919;
	}

	.pieChart{
		position: relative;
		height: 100;
		width: 100%;
	}

	.pointer{
	 	cursor: pointer;
	 }

	 .progress{
	    position: fixed;
	    bottom: 0;
	    width: 100%;
	    height: 6vh;
	    z-index:9999; 
	    border-radius:0;
	    margin: 0;
	    background-color: #222;
	    color: #FFFFFF;
	 }

	.tooltip > .tooltip-inner{
		background-color: #31b0d5;
		color: #FFFFFF; 
		border: 1px solid #FFFFFF; 
		padding: 1em;
		font-size: 1em;
		text-align: center;
	}

	.tooltip.right > .tooltip-arrow{
		border-right: 0.5rem solid white;
	}

	 .table td{
	    border: black solid 1px !important;
	}

	 .table th{
	    border: black solid 1px !important;
	}

	.table-striped{
	 	background-color: #333;
	 	border: 0;
	 	color: #F4EBEB
	}

	.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
	   background-color: #444;
	   border-color: black;
	   color: #F4EBEB
	}

	.table-striped>tbody>tr:nth-of-type(odd){
		background-color: #444;
	}

	.table-striped>tbody>tr:nth-of-type(even){
		background-color: #333;
	}

	.table-striped.table-hover>tbody>tr:hover>td, 
	.table-striped.table-hover>tbody>tr:hover>th {
		background-color: #415665;
		cursor: pointer;
	}

	.text-primary{
		color: #4D96E0;
	}

	 .thumbnail150x150{
	 	height: 150px;
	 	width: 150px;
	 }

	 .thumbnailGalleryContainer{
	 	background-color: #212121;
	 }

	.thumbnailGalleryItem{
		position:relative;
		width: 8.5em;
		height: 8.5em;
		margin-top: 0.5em;
	}

	.thumbnailGallerySrc{
		opacity: 1;
		transition: .5s ease;
		backface-visibility: hidden;
		width: 8.5em;
		height: 8.5em;
		position: absolute;
	    margin: auto;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    background-color: white;
	    border: white solid 1px;
	}

	 .thumbnailGalleryOverlay{
	 	transition: .5s ease;
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	 }

	 .thumbnailGalleryItem:hover > .thumbnailGallerySrc{
	 	opacity: 0.3;
	 	cursor:pointer;
	 }

	 .thumbnailGalleryItem:hover > .thumbnailGalleryOverlay{
	 	opacity: 1;
	 	cursor:pointer;
	 }

	.zeroPadding{
		padding: 0;
	}

	/*-----------------------------------------------ID's-----------------------------------------------*/
	#alert{
	    position:fixed; 
	    top: 0px; 
	    left: 0px; 
	    width: 100%;
	    z-index:9999; 
	    border-radius: 0;
	}

	#audioAsset{
		width: 100%; 
		background-image: url(../images/auraHeadphone150.jpg); 
		background-repeat: no-repeat; 
		background-position: center center;
		background-color: #222;
	}

	#banner{
		margin-top: 2em;
		margin-left: 1em;
		margin-right: 1em;
	}

	#beaconFilterButton{
		border-top-left-radius: 0; 
		border-bottom-left-radius: 0;
	}

	#dynamicSection{
		height: 100%;
		overflow: auto;
		background-color: #292929;
	}


	#fileLabel{
		display: inline-block; 
		width: 33%; 
		overflow: hidden; 
		text-overflow: ellipsis; 
		white-space: nowrap;
		vertical-align: middle;
		float: left;
		margin-right: 0.25em;
		margin-top: 0.5em;
	}

	#googleMapsAddBeacon, #googleMapsAddObject, #googleMapsEditBeacForObj, 
	#googleMapsAddObjectAtBeacon, #googleMapsEditBeacon, #googleMapsEditObject,
	#googleMapsBeacon, #googleMapsObject, #googleMapsObjects, #googleMapsBeacons, #googleMapsStats{
		background-image: url(../images/load.gif);
		background-size: 2em 2em;
		background-repeat: no-repeat;
		background-position: center center;
		background-color: #222;
	}

	#googleMapsAddBeacon, #googleMapsAddObject, #googleMapsEditBeacForObj, 
	#googleMapsAddObjectAtBeacon, #googleMapsEditBeacon, #googleMapsEditObject{
		height: 35vh;
		width: 100%;
	}

	#googleMapsBeacon, #googleMapsObject{
		height: 60vh;
		width: 100%;
	}

	#googleMapsObjects, #googleMapsBeacons, #googleMapsStats{
		margin-top: 1em;
		height: 72vh;
		width: 100%;
	}

	#header{
		height: 6vh;
		border: 0;
		border-radius: 0; 
		margin: 0;
	}

	#MAIN{
		height: 100vh;
		margin: 0;
	}

	#mainContentContainer{
		height: 88vh;
		padding: 0 0 0 0;
		margin: 0 0 0 0;
		background-color: #333;
	}

	#mobileOrgMenu{
		padding: 0.5em;
		background-color: #222;
		border: 0;
		color: #FFFFFF;
		font-size: 2em;
	}

	#liveDisplay{
		height: auto;
		margin: 0;
		padding:0;
		border-radius: 0;
		border: 0;
		background-color: #292929;
	}

	#liveTitle{
		height: auto;
		margin: 0 0 0 0;
		border-radius: 0;
		border-bottom: black solid 1px;
		background-color: #292929;
	}

	#orgsCarousel{
		height: 80px;
		background-color: #333;
		border: black solid 1px;
		margin-bottom: 4em;
	}

	#orgTitle{
		position: absolute;
		top: 0;
		right: 0.25em;
	}

	#orgMenu{
		height: 100%;
		max-height: 100%;
		overflow: auto;
		padding: 0 0 0 0;
		background-color: #1E1E1E;
	}

	#orgMenuTitle{
		min-height: 
		background-color: #232323;
		color: #E3D8D8;
	}

	#pageTitle{
		color: #A8A8A8;
		font-size: 40px;
		text-shadow: 0 0 0.33em #1BC9F4;
	}

	#primTitle{
		font-size: 2em;
	}
	

	#webcamScreen{
		height: 480px;
		width: 640px;
	}

/* ------------------------Landscape tablets and medium desktops--------------------------------- */
@media (min-width: 992px) and (max-width: 1199px) {
	body{
		font-size: 14px;
	}

	#fileLabel{
		margin-top: 0.5em;
	}
}

/* --------------------------Portrait tablets and small desktops--------------------------------- */
@media (min-width: 768px) and (max-width: 991px) {
	body{
		font-size: 12px;
	}

	#fileLabel{
		margin-top: 0.75em;
	}
}	

/* --------------------------------Landscape phones and portrait tablets------------------------- */
@media (max-width: 767px) {
	body{
		font-size: 10px;
	}

	.btn{
		font-size: 0.85em;
		padding: 0.75em;
	}

	#fileLabel{
		margin-top: 0.75em;
	}

	#filterTitle{
		text-align: center;
	}

	#header, #MAIN{
		height: auto;
	}

	#liveDisplay, #liveTitle, #mainContentContainer, .tableDiv{
		height: auto;
		max-height: inherit;
		overflow-y: visible;
	}

    #liveDisplay, #MAIN, #mainContentContainer, #mobileOrgMenu, #orgMenu{
		padding-left: 0;
		padding-right: 0;
	}

	#orgMenu{
		height: auto;
	}


	.thumbnailGalleryItem, .thumbnailGallerySrc{
		width: 6em;
		height: 6em;
	}

	#primTitle{
		text-align: center;
		padding-bottom: 0.5em;
	}
}	

/* ---------------------------------Portrait phones and smaller--------------------------------- */
@media (max-width: 480px) {
	html, body{
		font-size: 9px;
	}

	td{
		max-width: 10em;
		overflow: hidden;
		white-space: normal;
		text-overflow: ellipsis;
	}

	.btn{
		font-size: 0.75em;
		padding: 0.75em;
	}

	#fileLabel{
		margin-top: 1em;
	}

	#filterTitle{
		text-align: center;
	}

	#header, #MAIN{
		height: auto;
	}

	#liveDisplay, #liveTitle, #mainContentContainer, .tableDiv{
		height: auto;
		max-height: inherit;
		overflow-y: visible;
	}

    #liveDisplay, #MAIN, #mainContentContainer, #mobileOrgMenu, #orgMenu{
		padding-left: 0;
		padding-right: 0;
	}

	#orgMenu{
		height: auto;
	}

	.thumbnailGalleryItem, .thumbnailGallerySrc{
		width: 4em;
		height: 4em;
	}

	#primTitle{
		text-align: center;
		padding-bottom: 0.25em;
	}

}	





