<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Aura Create</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="styling/auraCreate.css">
		<link rel="stylesheet" type="text/css" href="styling/toggleSwitch.css">
		<link rel="stylesheet" type="text/css" href="styling/modalPadding.css">
		<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	</head>
	<body>
		<div class="container-fluid" ng-app="auraCreate" ng-controller="mainController" ng-init="init()" ng-cloak id="MAIN">
			<div id="alert"></div>
			<div class="row page-header" id="banner">
				<div class="col-xs-9 col-sm-6 col-md-6 col-lg-6 zeroPadding">
					<img ng-src="images/aura_logo.png" alt="Aura Logo" class="img-responsive pull-left logo" ng-click="changeView('dashboard', '')"/>
					<h1 id="pageTitle"><b ng-click="changeView('dashboard', '')">Create</b></h1>
				</div>
				<div class="col-xs-3 col-sm-6 col-md-6 col-lg-6 zeroPadding">
					<a ng-click="changeView('profileSettings', '' )" class="btn btn-info btn-sm pull-right" id="profileButton">
						<span class="hidden-xs">{{userName}}</span>
		          		<span class="glyphicon glyphicon-user"></span>
		        	</a>	
				</div>
			</div> 
		
			<!-- Main Content -->
			<div class="container-fluid row well well-lg" id="mainContentContainer">
				<!-- User Organizations Menu -->
			 	<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2" id="orgMenu">
			 		<div class="hidden-xs panel-group" id="accordion">
				 		<!-- Creates a navigation list for each organization the user is in control of -->
				 		<div ng-repeat="organization in organizationsArray| orderBy: name" class="panel panel-success">
						    <div class="panel-heading">
						      <h4 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#{{$index}}">
						        	<h2><strong>{{organization.name}}</strong></h2>
						        </a>
						      </h4>
						    </div>
						    <div id="{{$index}}" class="panel-collapse collapse container-fluid zeroPadding">
						      <div class="panel-body list-group zeroPadding">
						      		<li ng-click="changeView('beaconsList', organization)" class="menuItem list-group-item list-group-item-info">
					 					<h2 class="menuName"><small>Beacons</small></h2>
						 			</li>

						 			<li ng-click="changeView('objectsList', organization)" class="menuItem list-group-item list-group-item-info" >
						 				<h2 class="menuName"><small>Objects</small></h2>
						 			</li>

						 			<li ng-click="changeView('settings', organization)" class="menuItem list-group-item list-group-item-info">
						 				<h2 class="menuName"><small>Settings</small></h2>
						 			</li>

						 			<li ng-click="changeView('stats', organization)" class="menuItem list-group-item list-group-item-info">
						 				<h2 class="menuName"><small>Stats</small></h2>
						 			</li>
						 		</div>
						 	</div>
				 		</div>
				 	</div>
			 		<div class="container-fluid visible-xs text-center">
			 			<div class="container-fluid" id="mobileOrgMenu">
			 				<h3><b>Organizations</b></h3>
			 			</div>
 						<!-- Carousel of organizations -->
		 				<div id="orgsCarousel" class="carousel" data-ride="carousel" data-interval="false">
							 <!-- Indicators -->
							  <ol class="carousel-indicators">
							    <li data-target="#orgsCarousel" data-slide-to="0" class="active"></li>
							    <li ng-repeat="organization in organizationsArray | orderBy: name" ng-if="$index > 0" data-target="#orgsCarousel" data-slide-to="{{$index}}"></li>
							  </ol>

							  <!-- Organization -->
							  <div class="carousel-inner">
							  	<div class="item active text-center text-success">
									<h1><b>{{organizationsArray[0].name}}</b></h2>
							    </div>

							    <div class="item text-center text-success" ng-repeat="organization in organizationsArray | orderBy: name" ng-if="$index > 0">
									<h1><b>{{organization.name}}</b></h1>
							    </div>
							  </div>
							  <!-- Left and right controls -->
							  <a class="left carousel-control" href="#orgsCarousel" data-slide="prev" ng-click="carouselLeft()">
							    <span class="glyphicon glyphicon-chevron-left"></span>
							    <span class="sr-only">Previous</span>
							  </a>
							  <a class="right carousel-control" href="#orgsCarousel" data-slide="next" ng-click="carouselRight()">
							    <span class="glyphicon glyphicon-chevron-right"></span>
							    <span class="sr-only">Next</span>
							  </a>
						</div>
						<div class="btn-group btn-group-justified" style="font-size: 10px;">
							<a class="btn btn-lightGreen" ng-click="carouselViewController('beaconsList')" style="border-radius: 0;">Beacons</a>
							<a class="btn btn-lightGreen" ng-click="carouselViewController('objectsList')" style="border-radius: 0;">Objects</a>
							<a class="btn btn-lightGreen" ng-click="carouselViewController('settings')" style="border-radius: 0;">Settings</a>
							<a class="btn btn-lightGreen" ng-click="carouselViewController('stats')" style="border-radius: 0;">Stats</a>
						</div>
					</div>
			 	</div>

			 	<!-- Dynamic Section -->
			 	<div class="col-xs-12 col-sm-9 col-md-9 col-lg-10 container-fluid">
			 		<!-- Dynamic Title -->
			 		<div class="row text-center panel panel-heading" id="liveTitle">
			 			<!-- Primary title -->
			 			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left text-primary zeroPadding">
			 				<h2><b>{{primTitle}}</b></h2>
			 			</div>
					    <div ng-switch="filterTitle" id="filterTitle" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center zeroPadding">
					    	<!-- Objects View Filter -->
						    <div ng-switch-when="objectsView" class="btn-group btn-group-vertical">
					    		<div class="dropup btn-group">
									 <button class="btn btn-sm btn-info dropdown-toggle" type="button" data-toggle="dropdown" role="menu" aria-labelledby="menu1" style="border-top-right-radius: 6px; border-top-left-radius: 6px;">
								    	View By: {{viewType}}
								    	<span class="caret"></span>
								    </button>
								    <ul class="dropdown-menu">
								    	<li class="menuItem" ng-click="changeViewType('List')">
								    		<a><h5>List</h5></a>
								    	</li>
								    	<li class="menuItem" ng-click="changeViewType('Map')">
								    		<a><h5>Map</h5></a>
								    	</li>
								    </ul>
							    </div>
							    <label type="button" class="btn btn-success" data-toggle="modal" data-target="#addObjectModal" onclick="loadGoogleScript()">
						    			<span class=" glyphicon glyphicon-plus"></span>
						    			<span>Object</span>
							    </label>
					    		<div class="btn-group" id="objectsViewFilterTitle">
							    	<button class="btn btn-sm btn-info dropdown-toggle" type="button" data-toggle="dropdown" role="menu" aria-labelledby="menu1" style="border-bottom-right-radius: 6px; border-bottom-left-radius: 6px;">
								    	Filter by Beacon: {{beaconsFilter}}
								    	<span class="caret"></span>
								    </button>
								    <ul class="dropdown-menu">
								    	<li class="text-center" ng-click="changeBeaconFilter('All')">
								    		<a><h5>Show All</h5></a>
								    	</li>
								    	<li class="divider"></li>
								    	<li class="text-center" ng-repeat="arObject in objectsArray | removeDuplicates: 'objectsArray'" ng-click="changeBeaconFilter(arObject.beacon_name)">
								      		<a><h5>{{arObject.beacon_name}}</h5></a>
								    	</li>
								    </ul>
								</div>
						    </div>

						    <!-- Object View Filter -->
						    <div ng-switch-when="objectPrivacy" class="text-center">
						    	<label class="switch">
									<input type="checkbox">
									<div class="slider round"></div>
								</label>
						    </div>

						    <!-- Beacons View Filter -->
						    <div ng-switch-when="beaconsView" style="margin-top: 1em;">
						    	<div class="btn-group btn-group-vertical">
							    	<div class=" dropup btn-group">
							    		<button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" role="menu" aria-labelledby="menu1" style="border-top-right-radius: 6px; border-top-left-radius: 6px;"">
								    	View By: {{viewType}}
								    	<span class="caret"></span>
									    </button>
									    <ul class="dropdown-menu">
									    	<li class="text-center menuItem" ng-click="changeViewType('List')">
									    		<a><h5>List</h5></a>
									    	</li>
									    	<li class="text-center menuItem" ng-click="changeViewType('Map')">
									    		<a><h5>Map</h5></a>
									    	</li>
									    </ul>
							    	</div>
							    	<label type="button" class="btn btn-success" data-toggle="modal" data-target="#addBeaconModal" onclick="loadGoogleScript()">
						    			<span class=" glyphicon glyphicon-plus"></span>
						    			<span>Beacon</span>
							    	</label>
						    	</div>
							</div>
						</div>
						<!-- Organization/Username title -->
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right zeroPadding">
					    	<h2><small>{{secTitle}}</small></h2>
					    </div>
			 		</div>

			 		<!-- Live Display -->
			 		<div ng-switch="curView" id="liveDisplay" class="container-fluid panel">
			 			<!-- Dashboard -->
			 			<div ng-switch-when="dashboard" class="panel-body text-primary">
			 				<h2># Organizations: {{numOrganizations}}</h2>
			 				<h2># Beacons: {{numBeacons}}</h2>
			 				<h2># Objects: {{numObjects}}</h2>
			 				<h2>Average Throughput: {{avgThroughput}}</h2>
			 			</div>

			 			<!-- Profile Settings -->
			 			<div ng-switch-when="profileSettings" class="text-center panel-body">
			 				<div class="row" style="padding-bottom: 2em;">
			 					<!-- Organization Management -->
			 					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-left">
			 						<!-- Organization Management -->
			 						<h2 class="text-primary"><b>Organization Management</b></h2>

					 				<!-- Creating an organization -->
					 				<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addOrgModal">Add Organization</button>

					 				<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removeOrgModal">Delete Organization</button>
			 					</div>

			 					<!-- Webcam -->
			 					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-right">
			 						<!-- Webcam -->
			 						<h2 class="text-primary"><b>Will's Webcam</b></h2>
				 					<label class="btn btn-info" data-toggle="modal" data-target="#webcamModal">View</label>
			 					</div>
			 				</div>

			 				<!-- Webcam Modal -->
							  <div class="modal fade" id="webcamModal" role="dialog">
							    <div class="modal-dialog modal-lg">
							      <!-- Modal content-->
							      <div class="modal-content">
							        <div class="modal-header text-center text-primary modalPadding-1-1">
							          <button type="button" class="close" data-dismiss="modal">&times;</button>
							          <h2><b>Will's Webcam</b></h2>
							        </div>
							        <div class="modal-body embed-responsive embed-responsive-16by9 modalPadding-1-2" style="background-color: black;">
							        	<iframe class="embed-responsive-item" src="http://10.0.1.1:8009?action=stream">
			 							</iframe>
							        </div>
							        <div class="modal-footer">
							          <button type="submit" class="btn btn-info pull-right" data-dismiss="modal">Close</button>
							        </div>
							      </div>
							    </div>
							  </div>
			 				
			 				<!-- Modal for creating an organization-->
							  <div class="modal fade" id="addOrgModal" role="dialog">
							    <div class="modal-dialog">
							    
							      <!-- Modal content-->
							      <div class="modal-content">
							        <div class="modal-header text-primary text-center modalPadding-1-1">
							          <button type="button" class="close" data-dismiss="modal">&times;</button>
							          <h2><b>Organization creation for {{userName}}</b></h2>
							        </div>
							        <div class="modal-body modalPadding-1-1">
							          <form role="form">
							            <div class="form-group">
							              <label>Name</label>
							              <input type="text" class="form-control" placeholder="Enter organization's name" ng-model="addOrgName" required>
							            </div>
							            <div class="form-group">
							              <label>Description</label>
							              <input type="text" class="form-control" placeholder="Enter organization's description" ng-model="addOrgDesc" required>
							            </div>
							            <button type="submit" class="btn btn-success btn-block" ng-click="addOrganization(addOrgName, addOrgDesc)" data-dismiss="modal">Create</button>
							          </form>
							        </div>
							        <div class="modal-footer">
							          <button type="submit" class="btn btn-info pull-right" data-dismiss="modal">Close</button>
							        </div>
							      </div>
							    </div>
							  </div>

							  <!-- Modal for deleting an organization-->
							  <div class="modal fade" id="removeOrgModal" role="dialog">
							    <div class="modal-dialog">
							    
							      <!-- Modal content-->
							      <div class="modal-content">
							        <div class="modal-header text-primary text-center modalPadding-2-3">
							          <button type="button" class="close" data-dismiss="modal">&times;</button>
							          <h2><b>Organization deletion for {{userName}}</b></h2>
							        </div>
							        <div class="modal-body modalPadding-2-7">
							          <form role="form">
							            <div class="form-group">
							            	<ul class="list list-unstyled">
								        		<li ng-repeat="organization in organizationsArray" class="panel panel-primary">
							        				<h4 class="panel-heading" style="margin-top: 0;" data-dismiss="modal">{{organization.name}}</h4>
							        				<div class="panel-body text-left">
							        					<label class="label label-info">Description:</label>
							        					<h5 style="display:inline;">{{organization.description}}</h5>
							        				</div>
							        				<div class="panel-footer text-center">
							        					<label class="btn btn-danger text-center" ng-click="removeOrganization(organization)">Delete <span class="glyphicon glyphicon-remove"></span></label>
							        				</div>
								        		</li>
								        	</ul>
							            </div>
							          </form>
							        </div>
							        <div class="modal-footer">
							          <button type="submit" class="btn btn-info pull-right" data-dismiss="modal">Close</button>
							        </div>
							      </div>
							      
							    </div>
							  </div>  
			 			</div>

			 			<!-- Beacons List -->
			 			<div ng-switch-when="beaconsList">
			 				<div ng-switch="viewType" class="panel-body">
			 					<div ng-switch-when="List" class="table-responsive">
					 				<table class="table table-condensed">
						 				<thead>
						 					<tr class="row">
						 						<th>Name</th>
						 						<th>Associated</th>
						 						<th>Type</th>
						 						<th class="hidden-sm hidden-xs">Altitude</th>
						 						<th class="hidden-sm hidden-xs">Latitude</th>
						 						<th class="hidden-sm hidden-xs">Longitude</th>
						 						<th></th>
						 					</tr>
						 				</thead>
						 				<tbody>
						 					<tr class="row" ng-repeat="beacon in beaconsArray | orderBy:'beacon_name'">
						 						<td ng-click="displayBeacon(beacon)" class="menuItem">{{beacon.beacon_name}}</td>
						 						<td class="menuItem">{{beacon.associated}}</td>
						 						<td class="menuItem">{{beacon.beacon_type}}</td>
						 						<td class="menuItem hidden-sm hidden-xs">{{beacon.altitude | number: 3}}</td>
						 						<td class="menuItem hidden-sm hidden-xs">{{beacon.latitude | number: 3}}</td>
						 						<td class="menuItem hidden-sm hidden-xs">{{beacon.longitude | number: 3}}</td>
						 						<td>
						 							<span class="glyphicon glyphicon-remove deleteIcon" ng-click="removeBeacon(beacon)"></span>
						 						</td>
						 					</tr>
						 				</tbody>
						 			</table>
						 		</div>
					 			<div ng-switch-when="Map" class="center-block panel-default text-center">
					 				<!-- Google Maps API -->
					 				<div class="panel-body" id="googleMapsBeacons"></div>
					 			</div>
					 		</div>
			 			</div>

			 			<!-- Beacon (Singular) -->
		 				<!-- Google Maps API -->
		 				<div ng-switch-when="beacon">
		 					<div class="text-center center-block panel-body">
			 					<div class="panel-heading container-fluid">
			 						<div class="row">
			 							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left text-primary zeroPadding"> 
			 								<button class="btn btn-info" type="button" ng-click="displayBeaconObjects()" style="margin-top: 0.5em;">Objects Served</button>					
			 							</div>
			 							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center text-primary zeroPadding">
			 								<h4 class="text-primary">Associated: {{curBeacon.associated}}</h4>
			 							</div>
				 						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right zeroPadding">
				 							<div class="btn-group">
				 								<label class="btn btn-info disabled" style="margin-top: 0.5em; cursor: default;">Type: {{curBeacon.beacon_type}}</label>
					 							<button class="btn btn-warning" type="button" data-toggle="modal" data-target="#typeEditModal" style="margin-top: 0.5em;">
					 								<span class="glyphicon glyphicon-pencil"></span>
					 							</button>
				 							</div>
				 						</div>
				 					</div>
			 					</div>
			 					<div class="panel-body" id="googleMapsBeacon"></div>
			 					<div class="panel-footer">
			 						<div class="row">
			 							<h4 class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left text-primary">Altitude: {{curBeacon.altitude | number: 3}}</h4>
					 					<h4 class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center text-primary">Latitude: {{curBeacon.latitude | number: 3}}</h4>
					 					<h4 class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right text-primary">Longitude: {{curBeacon.longitude | number: 3}}</h4>
			 						</div>
			 					</div>
			 				</div>

			 				  <!-- Modal for editing a beacon's type-->
							<div class="modal fade" id="typeEditModal" role="dialog">
							    <div class="modal-dialog">
							      <!-- Modal content-->
							      <div class="modal-content">
							        <div class="modal-header text-primary text-center modalPadding-2-3">
							          <button type="button" class="close" data-dismiss="modal">&times;</button>
							          <h2><b>Type Editing for {{curBeacon.beacon_name}}</b></h2>
							        </div>
							        <div class="modal-body modalPadding-2-5">
							          <form role="form">
							          	<div class="form-group form-group">
							            	<label>Type:</label>
										    <select ng-model="newBeaconType" class="form-control" required>
										    	<option value="" disabled selected hidden>{{curBeacon.beacon_type}}</option>
										    	<option ng-repeat="type in beaconTypes" value={{type}}>{{type}}</option>
										    </select>
							            </div> 
							            <button type="submit" class="btn btn-success btn-block" ng-click="updateBeaconType(newBeaconType)" data-dismiss="modal">Confirm</button>
							          </form>
							        </div>
							        <div class="modal-footer">
							          <button type="submit" class="btn btn-info pull-right" data-dismiss="modal">Close</button>
							        </div>
							      </div>
							    </div>
							</div>
		 				</div>

			 			<!-- Objects List -->
			 			<div ng-switch-when="objectsList">
			 				<div ng-switch="viewType">
				 				<div ng-switch-when="List" class="panel-body">
					 				<table class="table table-condensed table-responsive">
						 				<thead>
						 					<tr>
						 						<th>Thumbnail</th>
						 						<th>Name</th>
						 						<th>Beacon Name</th>
						 						<th class="hidden-xs hidden-sm">#Images</th>
						 						<th class="hidden-xs hidden-sm">#Audio</th>
						 						<th class="hidden-xs hidden-sm">#Video</th>
						 						<th class="hidden-xs hidden-sm">#3D</th>
						 						<th></th>
						 					</tr>
						 				</thead>
						 				<tbody>
						 					<tr ng-repeat="arObject in objectsArray | filterByBeacon: beaconsFilter | orderBy: 'beacon_name'">
						 						<td class="menuItem" ng-click="displaythumbNailModal(arObject)">
						 							<img ng-src="{{arObject.thumbnail}}" class="thumbnail" alt="{{arObject.name}}" style="height:3em; width: 3em;"></img>
						 						</td>
						 						<td ng-click="displayObject(arObject)" class="menuItem">{{arObject.name}}</td>
						 						<td ng-click="loadBeacon(arObject.beacon_name)" class="menuItem">{{arObject.beacon_name}}</td>
						 						<td class="menuItem hidden-xs hidden-sm">{{arObject.numImage}}</td>
						 						<td class="menuItem hidden-xs hidden-sm">{{arObject.numAudio}}</td>
						 						<td class="menuItem hidden-xs hidden-sm" >{{arObject.numVideo}}</td>
						 						<td class="menuItem hidden-xs hidden-sm">{{arObject.num3D}}</td>
						 						<td>
						 							<span class="glyphicon glyphicon-remove deleteIcon" ng-click="removeObject(arObject)"></span>
						 						</td>
						 					</tr>
						 				</tbody>
						 			</table>
								 	<!-- Thumbnail Modal -->
						 			<div class="modal fade" id="thumbnailModal" role="dialog" data-backdrop="true">
									    <div class="modal-dialog modal-sm">
									      <!-- Thumbnail Modal content-->
									      <div class="modal-content">
									        <div class="modal-header text-primary text-center">
									          <button type="button" class="close" data-dismiss="modal">&times;</button>
									          <h2 class="modal-title"><b>{{modalHeader}}</b></h2>
									        </div>
									        <div class="modal-body text-center" style="background-color: black;">
									        	<img class="img-rounded" ng-src={{modalImgSrc}}></img>
									        </div>
									        <div class="modal-footer">
									        	<ul class="list-inline text-center">
									        		<li>#Images: {{curObj.numImage}}</li>
									        		<li>#Audio: {{curObj.numAudio}}</li>
									        		<li>#Video: {{curObj.numVideo}}</li>
									        		<li>#3D: {{curObj.num3D}}</h4></li>				
									        	</ul>
									          <button type="button" class="btn btn-info pull-right" data-dismiss="modal">Close</button>
									        </div>
									      </div>  
									    </div>
									</div>
								</div>
								<!-- Google Maps API -->
				 				<div ng-switch-when="Map" class="center-block panel text-center">
				 					<div id="googleMapsObjects"></div>
				 				</div>
							</div>
			 			</div>

			 			<!-- Object (Singular) -->
			 			<!-- Google Maps API -->
		 				<div ng-switch-when="object" class="panel-body">
		 					<div class="panel-heading">
		 						<div class="row">
		 							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left zeroPadding">
		 								<div class="btn-group">
			 								<button class="btn btn-sm btn-info" type="button" ng-click="loadBeacon(curObj.beacon_name)">Beacon: {{curObj.beacon_name}}</button>
			 								<button class="btn btn-sm btn-warning" data-toggle="modal" data-target="#editBeacForObjModal">
			 									<span class="glyphicon glyphicon-pencil"></span>
			 								</label>
		 								</div>
		 							</div>
		 							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center zeroPadding">
		 								<div class="btn-group">
		 									<button class="btn btn-sm btn-success" type="button" data-toggle="modal" ng-click="resetAssetsForm()" data-target="#newAssetsModal">
									          <span class="glyphicon glyphicon-plus"></span> 
									        </button>
		 									<button class="btn btn-sm btn-info" type="button" ng-click="displayAssetsModal()">Media</button>
									    </div>
		 							</div>
			 						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right zeroPadding">
			 							<button class="btn btn-sm btn-info" type="button" ng-click="displayDescriptionModal()">Description</button>
			 						</div>
			 					</div>
		 					</div>
		 					<div class="panel-body" id="googleMapsObject"></div>
		 					<div class="panel-footer">
		 						<div class="row">
				 					<h4 class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left text-primary">Altitude: {{curObj.altitude | number: 3}}</h4>
				 					<h4 class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center text-primary">Latitude: {{curObj.latitude | number: 3}}</h4>
				 					<h4 class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right text-primary">Longitude: {{curObj.longitude | number: 3}}</h4>
				 				</div>
		 					</div>

		 					<!-- Edit Beacon for Object Modal -->
				 			<div class="modal fade" id="editBeacForObjModal" role="dialog" data-backdrop="true">
							    <div class="modal-dialog">
							      <!-- Edit Beacon for Object Modal content-->
							      <div class="modal-content">
							        <div class="modal-header text-primary text-center modalPadding-1-1">
							          <button type="button" class="close" data-dismiss="modal">&times;</button>
							          <h2 class="modal-title"><b>Change {{curObj.name}}'s service beacon</b></h2>
							        </div>
							        <div class="modal-body text-center modalPadding-1-2">
							        	<div class="panel-default panel-body" id="googleMapsEditBeacForObj"></div>
						        		<h5 class="panel-body zeroPadding">Click a marker to determine the object's new service beacon.</h5>
			            				<h6 class="panel-body text-muted zeroPadding">Note: circles indicates a beacon's maximum service range.</h6>
							        </div>
							        <div class="modal-footer">
							          <button type="button" class="btn btn-info pull-right" data-dismiss="modal">Close</button>
							        </div>
							      </div>
							    </div>
							</div>

		 					<!-- Description Modal -->
				 			<div class="modal fade" id="descriptionModal" role="dialog" data-backdrop="true">
							    <div class="modal-dialog" >
							      <!-- Description Modal content-->
							      <div class="modal-content">
							        <div class="modal-header text-primary text-center modalPadding-1-2">
							          <button type="button" class="close" data-dismiss="modal">&times;</button>
							          <h2 class="modal-title"><b>{{curObj.name}}</b></h2>
							        </div>
							        <div class="modal-body text-left modalPadding-1-2" style="line-height: 1.5;">
							    		<form role="form" class="form">
							        		<div class="form-group">
							        			<textarea ng-hide="showObjDescEdit" rows="10" class="form-control" disabled style="cursor:default; resize: none; background-color: white;">{{curObj.description}}</textarea>
							        			<textarea ng-show="showObjDescEdit" class="form-control" rows="10" style="resize: none;" ng-model="editObjDesc"></textarea>
							        		</div>
							        		<button ng-show="showObjDescEdit" type="button" class="btn btn-block btn-success" ng-click="updateObjectDescription(editObjDesc)">Update</button>
							        	</form>
							        </div>
							        <div class="modal-footer">
							       		<button type="button" class="btn btn-warning pull-left" ng-click="toggleObjectDescriptionEdit()">Edit <span class="glyphicon glyphicon-pencil"></span></button>
							        	<button type="button" class="btn btn-info pull-right" data-dismiss="modal">Close</button>
							        </div>
							      </div>
							    </div>
							</div>

							<!-- Asset Creation Modal -->
							<div class="modal fade" id="newAssetsModal" role="dialog">
							    <div class="modal-dialog">
							    
							      <!-- Modal content-->
							      <div class="modal-content">
							        <div class="modal-header text-center modalPadding-2-3">
							          <button type="button" class="close" data-dismiss="modal">&times;</button>
							          <h2 class="text-primary"><b>New Media Content for {{curObj.name}}</b></h2>
							        </div>
							        <div class="modal-body text-center modalPadding-2-3">
							          <form role="form" class="form">
							            <div class="form-group well well-sm">
						            		<h4 class="text-primary">Import image, audio, video, or 3D files:</h4>
						            		<label class="btn btn-info" for="assetFiles">
											    <input id="assetFiles" type="file" style="display:none;" accept="image/*|audio/*|video*" custom-on-change="uploadFile" required multiple="true"></input>
											    Browse
											</label>
							            </div>
							            <div class="form-group well well-sm form-horizontal">
							              <h4 class="text-primary">Enter a title for each file:</h4>
							            	<ul class="list list-unstyled">
							            		<li ng-if="files.length < 1" class='label label-warning float-left'>No files chosen.</li>
							            		<li ng-repeat="file in files" style="margin-bottom: 1em;">
							            			<label class="label label-warning" id="fileLabel">
							            				{{file.name}}
												        <span class="glyphicon glyphicon-remove pull-right cancelFile" ng-click="removeFile($index)"></span>
							            			</label>
							            			<input type="text" class="form-control input-sm" placeholder="Enter title" ng-model="fileNames[$index]" style="width:66%;" required></input>
							            		</li>
							            	</ul>
							            </div>	
							            <button type="submit" class="btn btn-success btn-block" ng-click="multiFileUpload()" data-dismiss="modal">Upload</button>
							          </form>
							        </div>
							        <div class="modal-footer">
							          <button type="submit" class="btn btn-info pull-right" data-dismiss="modal">Close</button>
							        </div>
							      </div>
							    </div>
							</div>

			 				<!-- Assets/Media Modal -->
							<div class="modal fade" id="assetsModal" role="dialog" data-backdrop="true">
								<div class="modal-dialog modal-lg">
									<!-- Assets/Media Modal content-->
									<div class="modal-content">
										<div class="modal-header text-primary text-center modalPadding-2-1">
										  <button type="button" class="close" data-dismiss="modal">&times;</button>
										  <h2 class="modal-title"><b>{{curObj.name}} Media Gallery</b></h2>
										</div>
										<div class="modal-body" style="min-height: 25vh;max-height: 70vh;">
											<!-- Media Content -->
											<div class="row">
												<div ng-repeat="asset in assets | filter: galleryMediaFilter" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
													<div class="thumbnail thumbnailGalleryContainer">
														<span class="glyphicon glyphicon-remove deleteIcon pull-right" ng-click="removeAsset(asset)" style="margin-bottom: 0.5em;"></span>
														<div class="thumbnailGalleryItem center-block" ng-click="displayAssetCarouselModal(asset)">
															<img class="img-circle thumbnailGallerySrc center-block text-center" ng-src={{asset.value}} alt="{{asset.name}}"></img>
															<div class="thumbnailGalleryOverlay">
												            	<span ng-if="asset.content_type == 'image'" class="glyphicon glyphicon-picture"></span>
												            	<span ng-if="asset.content_type == 'audio'" class="glyphicon glyphicon-music"></span>
												            	<span ng-if="asset.content_type == 'video'" class="glyphicon glyphicon-film"></span>
												            	<span ng-if="asset.content_type == 'threeD'" class="glyphicon glyphicon-picture">3D</span>
													    	</div>
													    </div>
												    	<h4 class="text-center text-info" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
												    		{{asset.name}}
												    	</h4>
													</div>
												</div>
											</div>
										</div>
										<div class="modal-footer container-fluid">
											<form class="pull-left text-primary">
												Filter:
											    <label class="checkbox-inline">
											      <input type="checkbox" ng-model="galleryFilter['image']">Image
											    </label>
											    <label class="checkbox-inline">
											      <input type="checkbox" ng-model="galleryFilter['audio']">Audio
											    </label>
											    <label class="checkbox-inline">
											      <input type="checkbox" ng-model="galleryFilter['video']">Video
											    </label>
											    <label class="checkbox-inline">
											      <input type="checkbox" ng-model="galleryFilter['threeD']">3D
											    </label>
										   </form>
										   <button type="button" class="btn btn-info pull-right" data-dismiss="modal">Close</button>
										</div>
								   	</div>
							    </div>
							</div>

							<!-- Asset Carousel Modal -->
				 			<div class="modal fade" id="assetCarouselModal" role="dialog" data-backdrop="true">
							    <div class="modal-dialog modal-lg">
							      <!-- Asset Carousel Modal content-->
							      <div class="modal-content">
							        <div class="modal-header text-primary text-center">
							          <button type="button" class="close" data-dismiss="modal">&times;</button>
							          <h2 class="modal-title"><b>{{curObj.name}} Media Carousel</b></h2>
							        </div>
							        <div class="modal-body text-center zeroPadding">
							        	<div id="galleryCarousel" class="carousel" data-ride="carousel">
											<!-- Indicators -->
											<ol class="carousel-indicators">
												<li ng-repeat="asset in assets track by asset.content_id" data-target="#galleryCarousel" data-slide-to={{$index}} ng-class="{'active': $index == curAssetIndex}"></li>
											</ol>
											
											<!-- Wrapper for slides -->
											<div class="carousel-inner">
												<!-- Assets  -->
												<div class="item media-wrap" ng-repeat="asset in assets track by asset.content_id" ng-class="{'active': $index == curAssetIndex}">
													<!-- Image -->
													<img ng-if="asset.content_type == 'image'" ng-src={{asset.value}} alt={{asset.name}} class="img-responsive">
													</img>

													<!-- Audio -->
													<audio ng-if="asset.content_type == 'audio'" ng-src="" autobuffer autoloop loop controls></audio>

													<!-- Video -->
													<video ng-if="asset.content_type == 'video'" ng-src="" autobuffer autoloop loop controls poster=""></video>

													<!-- 3D -->
													<!-- 3D Placeholder -->

													<!-- Caption for asset -->
													<div class="carousel-caption">
														<h2><b>{{asset.name}}</b> <span class="glyphicon glyphicon-remove deleteIcon" ng-click="removeAsset(asset)"></span></h2>
													</div>
												</div>
  											</div>

											<!-- Left and right controls -->
											<a class="left carousel-control pointer" data-target="#galleryCarousel" data-slide="prev">
												<span class="glyphicon glyphicon-chevron-left"></span>
												<span class="sr-only">Previous</span>
											</a>
											<a class="right carousel-control pointer" data-target="#galleryCarousel" data-slide="next">
												<span class="glyphicon glyphicon-chevron-right"></span>
												<span class="sr-only">Next</span>
											</a>
										</div>	
							        </div>
							        <div class="modal-footer">
							          <button type="button" class="btn btn-info pull-right" data-dismiss="modal">Close</button>
							        </div>
							      </div>
							    </div>
							</div>
			 			</div>

			 			<!-- Settings -->
			 			<div ng-switch-when="settings" class="panel-body">
			 			</div>

			 			<!-- Stats -->
			 			<div ng-switch-when="stats">
			 				<div id="googleMapsStats" class="panel"></div>
			 			</div>
			 		</div>
			 	</div>

			 	<!-- Global Modals -->

			 	<!-- Modal for creating an beacon-->
				  <div class="modal fade" id="addBeaconModal" role="dialog">
				    <div class="modal-dialog">
				    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header text-primary text-center modalPadding-1-1">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h2><b>Beacon creation for {{curOrg.name}}</b></h2>
				        </div>
				        <div class="modal-body modalPadding-1-2">
				          <form role="form">
				            <div class="form-group">
				              <label>Name:</label>
				              <input type="text" class="form-control" placeholder="Enter beacon's name" ng-model="addBeaconName" required>
				            </div>
				            <div class="form-group form-group">
				            	<label>Type:</label>
							    <select ng-model="addBeaconType" class="form-control input-sm" required>
							    	<option value="" disabled selected hidden>Select beacon type</option>
							    	<option ng-repeat="type in beaconTypes" value={{type}}>{{type}}</option>
							    </select>
				            </div> 
				            <div class="form-group panel panel-default text-center">
				            	<h4><label>Location:</label></h4>
				            	<div id="googleMapsAddBeacon" class="panel-body">
				            	</div>
				            	<h5 class="panel-body zeroPadding">Click a position on the map to the determine the beacon's location.</h5>
				            	<h6 class="panel-body text-muted zeroPadding">Note: Blue circles indicates a beacon's maximum service range.</h6>
				            </div>
				            <button type="submit" class="btn btn-success btn-block" ng-click="addBeacon(addBeaconName, addBeaconType)" data-dismiss="modal">Create</button>
				          </form>
				        </div>
				        <div class="modal-footer">
				          <button type="submit" class="btn btn-info pull-right" data-dismiss="modal">Close</button>
				        </div>
				      </div>
				    </div>
				</div>

				<!-- Modal for creating an object-->
				<div class="modal fade" id="addObjectModal" role="dialog">
				    <div class="modal-dialog">
				    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header text-primary text-center modalPadding-1-1">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h2><b>Object creation for {{curOrg.name}}</b></h2>
				        </div>
				        <div class="modal-body text-center modalPadding-1-2">
				          <form role="form">
				            <div class="form-group">
				              <label>Name:</label>
				              <input type="text" class="form-control" placeholder="Enter object's name" ng-model="addObjectName" required>
				            </div>
				            <div class="form-group">
				              <label>Description:</label>
				              <textarea type="text" class="form-control" placeholder="Enter object's description" ng-model="addObjectDesc" rows=3 required style="resize: none;"></textarea>
				            </div>
				            <div class="form-group">
				            	<label>Thumbnail:</label><br>
				            	<div class="panel panel-default">
				            		<label class="panel-body">
					            		<label class="btn btn-info" for="thumbnailSelect">
										    <input id="thumbnailSelect" type="file" style="display:none;" custom-on-change="updateThumbnailLabel" accept="image/*" required>
										    Browse
										</label>
										<span class='label label-warning'>{{curThumbnail}}</span>
									</label>
				            	</div>
				            </div>
				            <div class="form-group panel panel-default text-center">
				            	<h4><label>Location:</label></h4>
				            	<div id="googleMapsAddObject" class="panel-body">
				            	</div>
				            	<h5 class="panel-body zeroPadding">Click a position on the map to the determine the object's location.</h5>
				            	<h6 class="panel-body text-muted zeroPadding">Note: Blue circles indicates a beacon's maximum service range.</h6>
				            </div>
				            <button type="submit" class="btn btn-success btn-block" ng-click="thumbnailResize(addObjectName, addObjectDesc)" data-dismiss="modal">Create</button>
				          </form>
				        </div>
				        <div class="modal-footer">
				          <button type="submit" class="btn btn-info pull-right" data-dismiss="modal">Close</button>
				        </div>
				      </div>
				    </div>
				</div>

				<!-- Modal for creating a beacon for an object out of range of others -->
				  <div class="modal fade" id="beaconForObjectModal" role="dialog">
				    <div class="modal-dialog">
				    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header text-primary text-center modalPadding-1-1">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h2><b>Beacon creation for {{curOrg.name}}</b></h2>
				        </div>
				        <div class="modal-body text-center modalPadding-1-2">
				          <form role="form">
				            <div class="form-group">
				              <label>Name</label>
				              <input type="text" class="form-control" placeholder="Enter beacon's name" ng-model="addBeaconForObjectName" required>
				            </div>
				            <div class="form-group">
				            	<label>Type:</label>
							    <select ng-model="addBeaconForObjectType" class="form-control" required>
							    	<option value="" disabled selected hidden>Select beacon type</option>
							    	<option ng-repeat="type in beaconTypes" value={{type}}>{{type}}</option>
							    </select>
				            </div>
				            <div class="form-group">
				            	<label class="label label-warning">Location pre-determined from the new object's location.</label>
				            </div> 
				            <button type="submit" class="btn btn-success btn-block" ng-click="addBeaconForObject(addBeaconForObjectName, addBeaconForObjectType)" data-dismiss="modal">Create</button>
				          </form>
				        </div>
				        <div class="modal-footer">
				          <button type="submit" class="btn btn-info pull-right" data-dismiss="modal">Close</button>
				        </div>
				      </div>
				    </div>
				</div>

			</div>
			<footer class="text-center footer text-muted">
				<h6>© 2017 Aura Technologies Inc.</h6>
				<a href="http://www.auracr.io/" class="text-info" target="_blank">auracr.io</a>
			</footer>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type='text/javascript'></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" type='text/javascript'></script>
		<script src="https://www.gstatic.com/firebasejs/4.1.1/firebase.js" type='text/javascript'></script>
		<script src="scripts/appModule.js" type='text/javascript'></script>
		<script src="scripts/controller.js" type='text/javascript'></script>
		<script src="scripts/directives.js" type='text/javascript'></script>
		<script src="scripts/filters.js" type='text/javascript'></script>
		<script src="scripts/customAlerts.js" type='text/javascript'></script>
		<script src="scripts/googleMapsController.js" type='text/javascript'></script>
		<script src="scripts/bootbox.min.js" type='text/javascript'></script>
		<script src="stats/willStats.js" type='text/javascript'></script>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCq80g8ye8MQaNGW3BOVaj0VY3m7jpomoY&libraries=visualization" type='text/javascript'></script>
	</body>
</html>
