<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Aura Create</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="styling/auraCreate.css">
		<link rel="stylesheet" type="text/css" href="styling/toggleSwitch.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	</head>
	<body>
		<div class="container-fluid" ng-app="auraCreate" ng-controller="myCtrl" ng-init="init()" ng-cloak id="MAIN">
			<div class="row page-header" id="banner">
				<div class="col-xs-9 col-sm-6 col-md-6 col-lg-6" ng-click="changeView('dashboard', '')">
					<img ng-src="images/aura_logo.png" alt="Aura Logo" class="img-responsive pull-left logo"/>
					<h1 id="pageTitle"><b>Create</b></h1>
				</div>
				<div class="col-xs-3 col-sm-6 col-md-6 col-lg-6">
					<a ng-click="changeView('profileSettings', '' )" class="btn btn-info btn-sm pull-right" id="profileButton">
						<span class="hidden-xs">{{userName}}</span>
		          		<span class="glyphicon glyphicon-user"></span>
		        	</a>	
				</div>
			</div> 
			
			<!-- Main Content -->
			<div class="container-fluid row well well-lg" id="mainContentContainer">
				<!-- User Organizations Menu -->
			 	<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2" id="orgMenu">
			 		<div class="hidden-xs panel-group" id="accordion">
				 		<!-- Creates a navigation list for each organization the user is in control of -->
				 		<div ng-repeat="organization in organizationsArray| orderBy: name" class="panel panel-success">
						    <div class="panel-heading">
						      <h4 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#{{$index}}" ng-click="cacheOrgData(organization)">
						        	<h2><strong>{{organization.name}}</strong></h2>
						        </a>
						      </h4>
						    </div>
						    <div id="{{$index}}" class="panel-collapse collapse container-fluid zeroPadding">
						      <div class="panel-body list-group zeroPadding">
						      		<li ng-click="changeView('beaconsList', organization)" class="menuItem list-group-item list-group-item-info">
					 					<h2 class="menuName"><small>Beacons</small></h2>
						 			</li>

						 			<li ng-click="changeView('objectsList', organization)" class="menuItem list-group-item list-group-item-info" >
						 				<h2 class="menuName"><small>Objects</small></h2>
						 			</li>

						 			<li ng-click="changeView('settings', organization)" class="menuItem list-group-item list-group-item-info">
						 				<h2 class="menuName"><small>Settings</small></h2>
						 			</li>

						 			<li ng-click="changeView('stats', organization)" class="menuItem list-group-item list-group-item-info">
						 				<h2 class="menuName"><small>Stats</small></h2>
						 			</li>
						 		</div>
						 	</div>
				 		</div>
				 	</div>
			 		<div class="container-fluid visible-xs text-center">
			 			<div class="container-fluid" id="mobileOrgMenu">
			 				<h4>Organizations</h4>
			 			</div>
 						<!-- Carousel of organizations -->
		 				<div id="orgsCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
							 <!-- Indicators -->
							  <ol class="carousel-indicators">
							    <li data-target="#orgsCarousel" data-slide-to="0" class="active"></li>
							    <li ng-repeat="organization in organizationsArray | orderBy: name" ng-if="$index > 0" data-target="#orgsCarousel" data-slide-to="{{$index}}"></li>
							  </ol>

							  <!-- Organization -->
							  <div class="carousel-inner">
							  	<div class="item active text-center text-info">
									<h3>{{organizationsArray[0].name}}</h3>
							    </div>

							    <div class="item text-center text-info" ng-repeat="organization in organizationsArray | orderBy: name" ng-if="$index > 0">
									<h3>{{organization.name}}</h3>
							    </div>
							  </div>

							  <!-- Left and right controls -->
							  <a class="left carousel-control" href="#orgsCarousel" data-slide="prev" ng-click="carouselLeft()">
							    <span class="glyphicon glyphicon-chevron-left"></span>
							    <span class="sr-only">Previous</span>
							  </a>
							  <a class="right carousel-control" href="#orgsCarousel" data-slide="next" ng-click="carouselRight()">
							    <span class="glyphicon glyphicon-chevron-right"></span>
							    <span class="sr-only">Next</span>
							  </a>
						</div>
						<div class="btn-group btn-group-justified" style="font-size: 10px;">
							<a class="btn btn-info" ng-click="carouselViewController('beaconsList')" style="border-radius: 0;">Beacons</a>
							<a class="btn btn-info" ng-click="carouselViewController('objectsList')" style="border-radius: 0;">Objects</a>
							<a class="btn btn-info" ng-click="carouselViewController('settings')" style="border-radius: 0;">Settings</a>
							<a class="btn btn-info" ng-click="carouselViewController('stats')" style="border-radius: 0;">Stats</a>
						</div>
					</div>
			 	</div>

			 	<!-- Dynamic Section -->
			 	<div class="col-xs-12 col-sm-9 col-md-9 col-lg-10 container-fluid">
			 		<!-- Dynamic Title -->
			 		<div class="row text-center panel panel-heading" id="liveTitle">
			 			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
			 				<h3><b>{{primTitle}}</b></h3>
			 			</div>
					    <div ng-switch="filterTitle" id="filterTitle" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 center-block text-center">
					    	<!-- Objects View Filter -->
						    <div ng-switch-when="objectsView" class="btn-group btn-group-vertical">
					    		<div class="dropup btn-group">
									 <button class="btn btn-sm btn-info dropdown-toggle" type="button" data-toggle="dropdown" role="menu" aria-labelledby="menu1">
								    	View By: {{viewType}}
								    	<span class="caret"></span>
								    </button>
								    <ul class="dropdown-menu">
								    	<li class="menuItem" ng-click="changeViewType('List')">
								    		<a><h5>List</h5></a>
								    	</li>
								    	<li class="menuItem" ng-click="changeViewType('Map')">
								    		<a><h5>Map</h5></a>
								    	</li>
								    </ul>
							    </div>
					    		<div class="dropdown btn-group">
							    	<button class="btn btn-sm btn-info dropdown-toggle" type="button" data-toggle="dropdown" role="menu" aria-labelledby="menu1">
								    	Filter by Beacon: {{beaconsFilter}}
								    	<span class="caret"></span>
								    </button>
								    <ul class="dropdown-menu">
								    	<li class="text-center" ng-click="changeBeaconFilter('All')">
								    		<a><h5>Show All</h5></a>
								    	</li>
								    	<li class="divider"></li>
								    	<li class="text-center" ng-repeat="arObject in objectsArray | removeDuplicates: 'objectsArray'" ng-click="changeBeaconFilter(arObject.beacon_name)">
								      		<a><h5>{{arObject.beacon_name}}</h5></a>
								    	</li>
								    </ul>
								</div>
						    </div>

						    <!-- Object View Filter -->
						    <div ng-switch-when="objectPrivacy" class="text-center">
						    	<label class="switch">
									<input type="checkbox">
									<div class="slider round"></div>
								</label>
						    </div>

						    <!-- Beacons View Filter -->
						    <div ng-switch-when="beaconsView" class="dropdown btn-group" style="margin-top: 1em;">
							    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" role="menu" aria-labelledby="menu1">
							    	View By: {{viewType}}
							    	<span class="caret"></span>
							    </button>
							    <ul class="dropdown-menu">
							    	<li class="text-center menuItem" ng-click="changeViewType('List')">
							    		<a><h5>List</h5></a>
							    	</li>
							    	<li class="text-center menuItem" ng-click="changeViewType('Map')">
							    		<a><h5>Map</h5></a>
							    	</li>
							    </ul>
							</div>
						</div>

						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
					    	<h2><small>{{secTitle}}</small></h2>
					    </div>
			 		</div>

			 		<!-- Live Display -->
			 		<div ng-switch="curView" id="liveDisplay" class="container-fluid panel-body">
			 			<!-- Dashboard -->
			 			<div ng-switch-when="dashboard">
			 				<div class="panel panel-body">
				 				<h3># Organizations: {{numOrganizations}}</h3>
				 				<h3># Beacons: {{numBeacons}}</h3>
				 				<h3># Objects: {{numObjects}}</h3>
				 				<h3>Average Throughput: {{avgThroughput}}</h3>
				 			</div>
			 			</div>

			 			<!-- Profile Settings -->
			 			<div ng-switch-when="profileSettings" class="text-center panel">
			 				<!-- Webcam -->
			 				<button class="btn btn-info" ng-click="changeView('webcam', userName)">Webcam</button>
			 				<!-- Organization Management -->
			 				<!-- Creating an organization -->
			 				<button type="button" class="btn btn-info" data-toggle="modal" data-target="#addOrgModal">Add Organization</button>
			 				<!-- Modal for creating an organization-->
							  <div class="modal fade" id="addOrgModal" role="dialog">
							    <div class="modal-dialog">
							    
							      <!-- Modal content-->
							      <div class="modal-content">
							        <div class="modal-header" style="padding:2em 3em;">
							          <button type="button" class="close" data-dismiss="modal">&times;</button>
							          <h3><b>Organization creation for {{userName}}</b></h3>
							        </div>
							        <div class="modal-body" style="padding:2em 3em;">
							          <form role="form">
							            <div class="form-group">
							              <label>Name</label>
							              <input type="text" class="form-control" placeholder="Enter organization's name" ng-model="addOrgName" required>
							            </div>
							            <div class="form-group">
							              <label>Description</label>
							              <input type="text" class="form-control" placeholder="Enter organization's description" ng-model="addOrgDesc" required>
							            </div>
							            <button type="submit" class="btn btn-success btn-block" ng-click="addOrganization(addOrgName, addOrgDesc)" data-dismiss="modal">Create</button>
							          </form>
							        </div>
							        <div class="modal-footer">
							          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
							        </div>
							      </div>
							      
							    </div>
							  </div> 
			 			</div>

			 			<!-- Beacons List -->
			 			<div ng-switch-when="beaconsList">
			 				<div ng-switch="viewType">
			 					<div ng-switch-when="List" class="panel panel-body table-responsive">
					 				<table class="table table-condensed">
						 				<thead>
						 					<tr>
						 						<th>Name</th>
						 						<th>Associated</th>
						 						<th>Type</th>
						 						<th class="hidden-sm hidden-xs">Altitude</th>
						 						<th class="hidden-sm hidden-xs">Latitude</th>
						 						<th class="hidden-sm hidden-xs">Longitude</th>
						 					</tr>
						 				</thead>
						 				<tbody ng-repeat="beacon in beaconsArray | orderBy:'beacon_name'">
						 					<tr>
						 						<td ng-click="displayBeacon(beacon)" class="menuItem">{{beacon.beacon_name}}</td>
						 						<td class="menuItem">{{beacon.associated}}</td>
						 						<td class="menuItem">{{beacon.beacon_type}}</td>
						 						<td class="menuItem hidden-sm hidden-xs">{{beacon.altitude | number: 3}}</td>
						 						<td class="menuItem hidden-sm hidden-xs">{{beacon.latitude | number: 3}}</td>
						 						<td class="menuItem hidden-sm hidden-xs">{{beacon.longitude | number: 3}}</td>
						 					</tr>
						 				</tbody>
						 			</table>
						 		</div>
					 			<div ng-switch-when="Map">
					 				<!-- Google Maps API -->
					 				<div class="center-block panel text-center">
					 					<div id="googleMapsBeacons"></div>
					 				</div>
					 			</div>
					 		</div>
			 			</div>

			 			<!-- Beacon (Singular) -->
		 				<!-- Google Maps API -->
		 				<div  ng-switch-when="beacon" class="center-block text-center panel panel-default">
		 					<div class="panel-heading center-block container-fluid">
		 						<div class="row">
		 							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left form-group">
						            	<h4 class="text-primary pull-left">Type: {{curBeacon.beacon_type}}</h4>
		 							</div>
		 							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center text-info">
		 								<h4 class="text-primary">Associated: {{curBeacon.associated}}</h4>
		 							</div>
			 						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
			 							<label class="btn btn-info" type="button" ng-click="displayBeaconObjects()" style="margin-top: 0.5em;">Objects Served</label>
			 						</div>
			 					</div>
		 					</div>
		 					<div class="panel-body" id="googleMapsBeacon"></div>
		 					<div class="panel-footer">
		 						<div class="row">
		 							<h4 class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left text-primary">Altitude: {{curBeacon.altitude | number: 3}}</h4>
				 					<h4 class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center text-primary">Latitude: {{curBeacon.latitude | number: 3}}</h4>
				 					<h4 class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right text-primary">Longitude: {{curBeacon.longitude | number: 3}}</h4>
		 						</div>
		 					</div>
		 				</div>

			 			<!-- Objects List -->
			 			<div ng-switch-when="objectsList">
			 				<div ng-switch="viewType">
				 				<div ng-switch-when="List" class="panel panel-body">
					 				<table class="table table-condensed table-responsive">
						 				<thead>
						 					<tr>
						 						<th>Thumbnail</th>
						 						<th>Name</th>
						 						<th>Beacon Name</th>
						 						<th class="hidden-xs hidden-sm">#Images</th>
						 						<th class="hidden-xs hidden-sm">#Audio</th>
						 						<th class="hidden-xs hidden-sm">#Video</th>
						 						<th class="hidden-xs hidden-sm">#3D</th>
						 					</tr>
						 				</thead>
						 				<tbody>
						 					<tr ng-repeat="arObject in objectsArray | filterByBeacon: beaconsFilter | orderBy: 'beacon_name'">
						 						<td class="menuItem" ng-click="displaythumbNailModal(arObject)">
						 							<img ng-src="{{arObject.thumbnail}}" class="thumbnail" alt="{{arObject.name}}"></img>
						 						</td>
						 						<td ng-click="displayObject(arObject)" class="menuItem">{{arObject.name}}</td>
						 						<td ng-click="loadBeacon(arObject.beacon_name)" class="menuItem">{{arObject.beacon_name}}</td>
						 						<td class="menuItem hidden-xs hidden-sm">{{arObject.numImage}}</td>
						 						<td class="menuItem hidden-xs hidden-sm">{{arObject.numAudio}}</td>
						 						<td class="menuItem hidden-xs hidden-sm" >{{arObject.numVideo}}</td>
						 						<td class="menuItem hidden-xs hidden-sm">{{arObject.num3D}}</td>
						 					</tr>
						 				</tbody>
						 			</table>
								 	<!-- Thumbnail Modal -->
						 			<div class="modal fade" id="thumbnailModal" role="dialog" data-backdrop="true">
									    <div class="modal-dialog">
									    
									      <!-- Thumbnail Modal content-->
									      <div class="modal-content">
									        <div class="modal-header">
									          <button type="button" class="close" data-dismiss="modal">&times;</button>
									          <h3 class="modal-title"><strong>{{modalHeader}}</strong></h3>
									        </div>
									        <div class="modal-body text-center">
									          <img ng-src={{modalImgSrc}}></img>
									        </div>
									        <div class="modal-footer">
									        	<ul class="list-inline text-center">
									        		<li>#Images: {{curObj.numImage}}</li>
									        		<li>#Audio: {{curObj.numAudio}}</li>
									        		<li>#Video: {{curObj.numVideo}}</li>
									        		<li>#3D: {{curObj.num3D}}</h4></li>				
									        	</ul>
									          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
									        </div>
									      </div>  
									    </div>
									</div>
								</div>
								<!-- Google Maps API -->
				 				<div ng-switch-when="Map" class="center-block panel text-center">
				 					<div id="googleMapsObjects"></div>
				 				</div>
							</div>
			 			</div>

			 			<!-- Object (Singular) -->
			 			<!-- Google Maps API -->
		 				<div ng-switch-when="object" class="center-block panel panel-default text-center">
		 					<div class="panel-heading center-block">
		 						<div class="row">
		 							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
		 								<button class="btn btn btn-info" type="button" ng-click="loadBeacon(curObj.beacon_name)">Beacon: {{curObj.beacon_name}}</button>
		 							</div>
		 							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
		 								<button class="btn btn btn-info" type="button" ng-click="displayAssetsModal()">Media</button>
		 							</div>
			 						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
			 							<button class="btn btn-info" type="button" ng-click="displayDescriptionModal()">Description</button>
			 						</div>
			 					</div>
		 					</div>
		 					<div class="panel-body" id="googleMapsObject"></div>
		 					<div class="panel-footer">
		 						<div class="row">
				 					<h4 class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left text-primary">Altitude: {{curObj.altitude | number: 3}}</h4>
				 					<h4 class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center text-primary">Latitude: {{curObj.latitude | number: 3}}</h4>
				 					<h4 class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right text-primary">Longitude: {{curObj.longitude | number: 3}}</h4>
				 				</div>
		 					</div>
			 				

		 					<!-- Description Modal -->
				 			<div class="modal fade" id="descriptionModal" role="dialog" data-backdrop="true">
							    <div class="modal-dialog">
							    
							      <!-- Description Modal content-->
							      <div class="modal-content">
							        <div class="modal-header">
							          <button type="button" class="close" data-dismiss="modal">&times;</button>
							          <h4 class="modal-title"><strong>{{curObj.name}}</strong></h4>
							        </div>
							        <div class="modal-body text-left">
							          <p>{{curObj.description}}</p>
							        </div>
							        <div class="modal-footer">
							          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
							        </div>
							      </div>
							    </div>
							</div>

			 				<!-- Assets/Media Modal -->
							<div class="modal fade" id="assetsModal" role="dialog" data-backdrop="true">
								<div class="modal-dialog modal-lg">

									<!-- Assets/Media Modal content-->
									<div class="modal-content">
										<div class="modal-header">
										  <button type="button" class="close" data-dismiss="modal">&times;</button>
										  <h3 class="modal-title"><strong>{{curObj.name}}</strong></h3>
										</div>
										<div class="modal-body text-center">
											<!-- Assets/Media Carousel -->
											<div id="assetsCarousel" class="carousel slide" data-ride="carousel">

											  <!-- Indicators -->
											  <ol class="carousel-indicators">
											    <li data-target="#assetsCarousel" data-slide-to="0" class="active"></li>
											    <li ng-repeat="asset in assets" ng-if="$index > 0" data-target="#assetsCarousel" data-slide-to="{{$index}}"></li>
											  </ol>

											  <!-- Media Content -->
											  <div class="carousel-inner">
											  	<div class="item active">
											      <img ng-if="assets[0].content_type == 'image'" ng-src={{assets[0].value}} alt={{assets[0].name}} class="objectMedia center-block">

											      <audio ng-if="assets[0].content_type == 'audio'" class="objectMedia center-block" src="" autobuffer autoloop loop controls></audio>

											      <video ng-if="assets[0].content_type == 'video'" class="objectMedia center-block" src="" autobuffer autoloop loop controls poster=""></video>

											      <!-- 3D Placeholder -->

											       <div class="carousel-caption">
													<h3>{{assets[0].name}}</h3>
												   </div>
											    </div>

											    <div class="item" ng-repeat="asset in assets" ng-if="$index > 0">
											      <img ng-if="assets[$index].content_type == 'image'" ng-src={{assets[$index].value}} alt={{assets[$index].name}} class="objectMedia center-block">

											      <audio ng-if="assets[$index].content_type == 'audio'" class="objectMedia center-block" src="" autobuffer autoloop loop controls></audio>

											      <video ng-if="assets[$index].content_type == 'video'" class="objectMedia center-block" src="" autobuffer autoloop loop controls poster=""></video>

											      <!-- 3D Placeholder -->

											       <div class="carousel-caption">
													<h3>{{assets[$index].name}}</h3>
												   </div>
											    </div>
											  </div>

											  <!-- Left and right controls -->
											  <a class="left carousel-control" href="#assetsCarousel" data-slide="prev">
											    <span class="glyphicon glyphicon-chevron-left"></span>
											    <span class="sr-only">Previous</span>
											  </a>
											  <a class="right carousel-control" href="#assetsCarousel" data-slide="next">
											    <span class="glyphicon glyphicon-chevron-right"></span>
											    <span class="sr-only">Next</span>
											  </a>
											</div>
										</div>
										<div class="modal-footer">
										   <button type="button" class="btn btn-info pull-right" data-dismiss="modal">Close</button>
										</div>
								   	</div>
							    </div>
							</div>
			 			</div>

			 			<!-- Settings -->
			 			<div ng-switch-when="settings" class="container-fluid panel text-center">
			 				<!-- Beacon Management -->
			 				<!-- Creating a beacon -->
			 				<button type="button" class="btn btn-info" data-toggle="modal" data-target="#addBeaconModal" ng-click="loadGoogleScript()">Add Beacon</button>
			 				<!-- Modal for creating an beacon-->
							  <div class="modal fade" id="addBeaconModal" role="dialog">
							    <div class="modal-dialog">
							    
							      <!-- Modal content-->
							      <div class="modal-content">
							        <div class="modal-header" style="padding:2em 3em;">
							          <button type="button" class="close" data-dismiss="modal">&times;</button>
							          <h3><b>Beacon creation for {{curOrg.name}}</b></h3>
							        </div>
							        <div class="modal-body" style="padding:2em 3em;">
							          <form role="form">
							            <div class="form-group">
							              <label>Name</label>
							              <input type="text" class="form-control" placeholder="Enter beacon's name" ng-model="addBeaconName" required>
							            </div>
							            <div class="form-group">
							            	<label>Type:</label>
										    <select ng-model="addBeaconType" class="form-control" required>
										    	<option value="" disabled selected hidden>Select beacon type</option>
											    <option value="art">Art</option>
											    <option value="coffee-shop">Coffee-shop</option>
											    <option value="gallery">Gallery</option>
											    <option value="manufacturing">Manufacturing</option>
											    <option value="museum">Museum</option>
											    <option value="office">Office</option>
											    <option value="other">Other</option>
											    <option value="restaurant">Restaurant</option>
											    <option value="zoo">Zoo</option>
										    </select>
							            </div> 
							            <div class="form-group panel panel-default text-center">
							            	<label><h5>Click a position on the map to the determine the beacon's location:</h5></label>
							            	<div id="googleMapsAddBeacon" class="panel-body">
							            	</div>
							            </div>
							            <button type="submit" class="btn btn-success btn-block" ng-click="addBeacon(addBeaconName, addBeaconType)" data-dismiss="modal">Create</button>
							          </form>
							        </div>
							        <div class="modal-footer">
							          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
							        </div>
							      </div>
							    </div>
							</div>

							<!-- Object Management -->
			 				<!-- Creating a object -->
			 				<button type="button" class="btn btn-info" data-toggle="modal" data-target="#addObjectModal" ng-click="loadGoogleScript()">Add Object</button>
			 				<!-- Modal for creating an object-->
							<div class="modal fade" id="addObjectModal" role="dialog">
							    <div class="modal-dialog">
							    
							      <!-- Modal content-->
							      <div class="modal-content">
							        <div class="modal-header" style="padding:2em 3em;">
							          <button type="button" class="close" data-dismiss="modal">&times;</button>
							          <h3><b>Object creation for {{curOrg.name}}</b></h3>
							        </div>
							        <div class="modal-body" style="padding:2em 3em;">
							          <form role="form">
							            <div class="form-group">
							              <label>Name</label>
							              <input type="text" class="form-control" placeholder="Enter object's name" ng-model="addObjectName" required>
							            </div>
							            <div class="form-group">
							              <label>Description</label>
							              <input type="text" class="form-control" placeholder="Enter object's description" ng-model="addObjectDesc" required>
							            </div>
							            <div class="form-group">
					            			<label class="btn btn-info" for="thumbnailSelect">
											    <input id="thumbnailSelect" type="file" style="display:none;" onchange="$('#thumbnailUpload').html($(this).val());">
											    Upload thumbnail:
											</label>
											<span class='label label-warning' id="thumbnailUpload">No file chosen.</span>
							            </div>
							            <div class="form-group panel panel-default text-center">
							            	<label><h5>Click a position on the map to the determine the object's location:</h5></label>
							            	<div id="googleMapsAddObject" class="panel-body">
							            	</div>
							            </div>
							            <button type="submit" class="btn btn-success btn-block" ng-click="addObject(addObjectName, addObjectDesc, newObjectThumbnail)" data-dismiss="modal">Create</button>
							          </form>
							        </div>
							        <div class="modal-footer">
							          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
							        </div>
							      </div>
							    </div>
							</div>

							<!-- Modal for creating a beacon for an object out of range of others -->
							  <div class="modal fade" id="beaconForObjectModal" role="dialog">
							    <div class="modal-dialog">
							    
							      <!-- Modal content-->
							      <div class="modal-content">
							        <div class="modal-header" style="padding:2em 3em;">
							          <button type="button" class="close" data-dismiss="modal">&times;</button>
							          <h3><b>Beacon creation for {{curOrg.name}}</b></h3>
							        </div>
							        <div class="modal-body" style="padding:2em 3em;">
							          <form role="form">
							            <div class="form-group">
							              <label>Name</label>
							              <input type="text" class="form-control" placeholder="Enter beacon's name" ng-model="addBeaconForObjectName" required>
							            </div>
							            <div class="form-group">
							            	<label>Type:</label>
										    <select ng-model="addBeaconForObjectType" class="form-control" required>
										    	<option value="" disabled selected hidden>Select beacon type</option>
											    <option value="art">Art</option>
											    <option value="coffee-shop">Coffee-shop</option>
											    <option value="gallery">Gallery</option>
											    <option value="manufacturing">Manufacturing</option>
											    <option value="museum">Museum</option>
											    <option value="office">Office</option>
											    <option value="other">Other</option>
											    <option value="restaurant">Restaurant</option>
											    <option value="zoo">Zoo</option>
										    </select>
							            </div> 
							            <label>Location pre-determined from the new object's location.</label>
							            <button type="submit" class="btn btn-success btn-block" ng-click="addBeaconForObject(addBeaconForObjectName, addBeaconForObjectType)" data-dismiss="modal">Create</button>
							          </form>
							        </div>
							        <div class="modal-footer">
							          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
							        </div>
							      </div>
							    </div>
							</div>

			 			</div>

			 			<!-- Stats -->
			 			<div ng-switch-when="stats" class="panel panel-default">
			 				<div id="googleMapsStats" class="panel-body"></div>
			 			</div>

			 			<!-- Webcam -->
			 			<div ng-switch-when="webcam" class="panel panel-default text-center center-block">
			 				<iframe src="http://10.0.1.1:8009?action=stream" style="height: 60vh; width: 100%">
			 				</iframe>
			 			</div>

			 		</div>
			 	</div>
			</div>
			<footer class="text-center footer text-muted">
				<h6>© 2017 Aura Technologies Inc.</h6>
				<a href="http://www.auracr.io/" class="text-info" target="_blank">auracr.io</a>
			</footer>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="scripts/controller.js"></script>
	</body>
</html>
