<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Aura Create</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
		<link rel="stylesheet" type="text/css" href="styling/auraCreate.css">
		<link rel="stylesheet" type="text/css" href="styling/toggleSwitch.css">
		<link rel="stylesheet" type="text/css" href="styling/modalPadding.css">
		<link rel="stylesheet" type="text/css" href="styling/loading-bar.css">
		<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	</head>
	<body>
		<div class="container-fluid zeroPadding" ng-app="auraCreate" ng-controller="mainController" ng-init="init()" ng-cloak id="MAIN">
			<nav class="navbar navbar-inverse" id="header">
				<div class="container-fluid">
					<div class="navbar-header" style="padding-right: 1em;">
						<a id="pageTitle" class="navbar-left pointer" ng-click="changeView('dashboard', '')">
							<img class="img" ng-src="images/Aura_Create_rev1.jpg" alt="Aura Logo" ng-click="changeView('dashboard', '')" style="height: 40px"/>
						</a>
					</div>
					<ul class="nav navbar-nav">
						<li class="active pointer" ng-click="changeView('dashboard', '')">
							<a><span class="glyphicon glyphicon-dashboard"> Dashboard</span></a>
						</li>
						<li class="pointer" ng-click="changeView('beaconsList', curOrg)">
							<a><span class="glyphicon glyphicon-list-alt"> Beacons</a>
						</li>
						<li class="pointer" ng-click="changeView('objectsList', curOrg)">
							<a><span class="glyphicon glyphicon-list-alt"> Objects</a>
						</li>
						<li class="pointer" ng-click="changeView('stats', curOrg)">
							<a><span class="glyphicon glyphicon-stats"> Stats</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a class="pointer" ng-click="changeView('profileSettings', '' )">
				          		<span class="glyphicon glyphicon-user"></span>
				          		<span class="hidden-sm">{{userName}}</span>
				        	</a>	
						</li>
					</ul>
				</div>
			</nav>
		
			<!-- Main Content -->
			<div class="row borderRadius0 borderDark" id="mainContentContainer">
				<!-- User Organizations Menu -->
			 	<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" id="orgMenu">
			 		<div class="hidden-xs">
			 			<div id="orgMenuTitle" class="text-center borderDark"><h3>Organizations</h3></div>
				 		<div id="orgList" ng-repeat="organization in organizationsArray| orderBy: name" class="list-group margin0">
				 			<!-- First organization (Base case) -->
						    <li id={{organization.name}} ng-if="$index == 0" class="active pointer list-group-item list-group-itemDark" ng-click="changeCurOrg(organization)">
						    	<h4>{{organization.name}}</h4>
						    </li>
						    <!-- Rest of the organizations -->
						    <li id={{organization.name}} ng-if="$index != 0" class="pointer list-group-item list-group-itemDark" ng-click="changeCurOrg(organization)">
						    	<h4>{{organization.name}}</h4>
						    </li>
						</div>
				 	</div>
			 		<div class="container-fluid visible-xs text-center zeroPadding">
			 			<div class="container-fluid" id="mobileOrgMenu">
			 				Organizations
			 			</div>
 						<!-- Carousel of organizations -->
		 				<div id="orgsCarousel" class="carousel" data-ride="carousel" data-interval="false">
							  <!-- Organization -->
							  <div class="carousel-inner">
							  	<div class="item active text-center text-primary">
									<h1><b>{{organizationsArray[0].name}}</b></h1>
							    </div>

							  	<div class="item text-center text-primary" ng-repeat="organization in organizationsArray | orderBy: name" ng-if="$index > 0">
									<h1><b>{{organization.name}}</b></h1>
							    </div>

							    <div class="caption" ng-init="curOrgSlide = 1"><h4><kbd>{{curOrgSlide}}/{{numOrganizations}}</kbd></h4></div>

							  </div>
							  <!-- Left and right controls -->
							  <a class="left carousel-control pointer" data-target="#orgsCarousel" data-slide="prev" ng-click="carouselLeft()">
							    <span class="glyphicon glyphicon-chevron-left"></span>
							    <span class="sr-only">Previous</span>
							  </a>
							  <a class="right carousel-control pointer" data-target="#orgsCarousel" data-slide="next" ng-click="carouselRight()">
							    <span class="glyphicon glyphicon-chevron-right"></span>
							    <span class="sr-only">Next</span>
							  </a>
						</div>
					</div>
			 	</div>

			 	<!-- Dynamic Section -->
			 	<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 container-fluid zeroPadding" id=dynamicSection>
			 		<!-- Dynamic Title -->
			 		<div class="row text-center panel panel-heading" id="liveTitle">
			 			<!-- Primary title -->
			 			<div id="primTitle" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-left fontLight zeroPadding">
			 				{{primTitle}}
			 			</div>
			 			<!-- Secondary Title -->
			 			<div id="orgTitle" class="hidden-xs">
			 				<h4 class="text-muted">{{curOrg.name}}</h4>
			 			</div>
					    <div ng-switch="filterTitle" id="filterTitle" class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center zeroPadding">
					    	<!-- Objects View Filter -->
						    <div ng-switch-when="objectsView" id="objectsViewFilter" class="btn-group">
						    	<div class="btn-group">
									<button class="btn btn-success btn-sm" type="button" ng-click="displayAddObjectModal()">
										<span class="glyphicon glyphicon-plus"></span>
									</button>
								</div>
					    		<div class="dropdown btn-group">
									 <button class="btn btn-sm btn-info dropdown-toggle" type="button" data-toggle="dropdown" role="menu">
								    	View By: {{viewType}}
								    	<span class="caret"></span>
								    </button>
								    <ul class="dropdown-menu">
								    	<li class="menuItem" ng-click="changeViewType('List')">
								    		<a><h5>List</h5></a>
								    	</li>
								    	<li class="menuItem" ng-click="changeViewType('Map')">
								    		<a><h5>Map</h5></a>
								    	</li>
								    </ul>
							    </div>

					    		<div id="beaconsFilterDiv" class="btn-group" data-toggle="tooltip" data-placement="right" ng-mouseenter="showBeaconsFilterTooltip()" ng-mouseleave="hideBeaconsFilterTooltip()">
							    	<button id="beaconFilterButton" class="btn btn-sm btn-info dropdown-toggle" type="button" data-toggle="dropdown" role="menu">
								    	Filter by Beacon
								    	<span class="caret"></span>
								    </button>
								    <ul class="dropdown-menu">
								    	<li class="text-center" ng-click="changeBeaconFilter('All')">
								    		<a><h5>Show All</h5></a>
								    	</li>
								    	<li class="divider"></li>
								    	<li class="text-center" ng-repeat="arObject in objectsArray | removeDuplicates: 'objectsArray'" ng-click="changeBeaconFilter(arObject.beacon_name)">
								      		<a><h5>{{arObject.beacon_name}}</h5></a>
								    	</li>
								    </ul>
								</div>
						    </div>

						    <!-- Object View Filter -->
						    <div ng-switch-when="objectPrivacy">
						    	<label class="switch">
									<input type="checkbox">
									<div class="slider round"></div>
								</label>
						    </div>

						    <!-- Beacons View Filter -->
						    <div ng-switch-when="beaconsView" class="btn-group">
						    	<div class="btn-group">
									<button class="btn btn-success btn-sm" type="button" ng-click="displayAddBeaconModal()">
										<span class="glyphicon glyphicon-plus"></span>
									</button>
								</div>
						    	<div class=" dropdown btn-group">
						    		<button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown" role="menu">
							    	View By: {{viewType}}
							    	<span class="caret"></span>
								    </button>
								    <ul class="dropdown-menu">
								    	<li class="text-center menuItem" ng-click="changeViewType('List')">
								    		<a><h5>List</h5></a>
								    	</li>
								    	<li class="text-center menuItem" ng-click="changeViewType('Map')">
								    		<a><h5>Map</h5></a>
								    	</li>
								    </ul>
						    	</div>
							</div>
						</div>
			 		</div>

			 		<!-- Live Display -->
			 		<div ng-switch="curView" id="liveDisplay" class="container-fluid panel">
			 			<!-- Dashboard -->
			 			<div ng-switch-when="dashboard" class="panel-body text-primary">
			 				<div class="row">
			 					<!-- Beacons by type -->
				 				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pieChartContainer">
				 					<div class="pieChart" id="beaconsByTypeChart"></div>
				 				</div>
				 				
				 				<!-- Objects by beacon -->
				 				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pieChartContainer">
				 					<div class="pieChart" id="objectsByBeaconChart"></div>
				 				</div>

				 				<!-- Assets by file type -->
				 				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pieChartContainer">
				 					<div class="pieChart" id="assetsByTypeChart"></div>
				 				</div>
			 				</div>
			 			</div>

			 			<!-- Profile Settings -->
			 			<div ng-switch-when="profileSettings" class="text-center panel-body">
			 				<div class="row" style="padding-bottom: 2em;">
			 					<!-- Organization Management -->
			 					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-left">
			 						<!-- Organization Management -->
			 						<h2 class="text-primary"><b>Organization Management</b></h2>

					 				<!-- Creating an organization -->
					 				<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addOrgModal">Add Organization</button>

					 				<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removeOrgModal">Delete Organization</button>
			 					</div>

			 					<!-- Webcam -->
			 					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-right">
			 						<!-- Webcam -->
			 						<h2 class="text-primary"><b>Will's Webcam</b></h2>
				 					<label class="btn btn-info" data-toggle="modal" data-target="#webcamModal">View</label>
			 					</div>
			 				</div>

			 				<!-- Webcam Modal -->
							<div class="modal fade" id="webcamModal" role="dialog">
							    <div class="modal-dialog modal-lg">
							      <!-- Modal content-->
							      <div class="modal-content">
							        <div class="modal-header text-center text-primary modalPadding-1-1">
							          <button type="button" class="close deleteIcon" data-dismiss="modal">&times;</button>
							          <h2><b>Will's Webcam</b></h2>
							        </div>
							        <div class="modal-body zeroPadding">
						       			<div class="embed-responsive embed-responsive-16by9 modalPadding-1-2 center-block" id="webcamScreen">
						       				<!-- <iframe class="embed-responsive-item" src="http://10.0.1.1:8080?action=stream"></iframe> -->
						       			</div>
							        </div>
							        <div class="modal-footer">
							          <button type="submit" class="btn btn-info pull-right" data-dismiss="modal">Close</button>
							        </div>
							      </div>
							    </div>
							</div> 
			 			</div>

			 			<!-- Beacons List -->
			 			<div ng-switch-when="beaconsList">
			 				<div ng-switch="viewType">
			 					<div ng-switch-when="List" class="panel-body">
					 				<table class="table table-hover table-striped table-condensed table-responsive">
						 				<thead>
						 					<tr>
						 						<th>Name</th>
						 						<th>Associated</th>
						 						<th>Type</th>
						 						<th class="hidden-sm hidden-xs">Altitude</th>
						 						<th class="hidden-sm hidden-xs">Latitude</th>
						 						<th class="hidden-sm hidden-xs">Longitude</th>
						 						<th></th>
						 					</tr>
						 				</thead>
						 				<tbody>
						 					<tr ng-repeat="beacon in beaconsArray | orderBy:'beacon_name'">
						 						<td ng-click="displayBeacon(beacon)">{{beacon.beacon_name}}</td>
						 						<td>{{beacon.associated}}</td>
						 						<td>{{beacon.beacon_type}}</td>
						 						<td class="hidden-sm hidden-xs">{{beacon.altitude | number: 3}}</td>
						 						<td class="hidden-sm hidden-xs">{{beacon.latitude | number: 3}}</td>
						 						<td class="hidden-sm hidden-xs">{{beacon.longitude | number: 3}}</td>
						 						<td class="iconCell">
						 							<span class="glyphicon glyphicon-plus addIcon" ng-click="displayAddObjectAtBeaconModal(beacon)"></span>
						 							<span class="glyphicon glyphicon-pencil editIcon" ng-click="displayEditBeaconModal(beacon)"></span>
						 							<span class="glyphicon glyphicon-remove deleteIcon" ng-click="removeBeacon(beacon)"></span>
						 						</td>
						 					</tr>
						 				</tbody>
						 			</table>
						 		</div>
						 		<!-- Google Maps API -->
						 		<div ng-switch-when="Map" class="panel-body" style="padding-top: 0; padding-bottom: 0;">
					 				<div id="googleMapsBeacons" class="panel borderDark"></div>
					 			</div>
					 		</div>
			 			</div>

			 			<!-- Beacon (Singular) -->
		 				<!-- Google Maps API -->
		 				<div ng-switch-when="beacon" style="height: inherit;">
		 					<div class="text-center center-block panel-body" style="height: inherit; padding-bottom: 0;">
			 					<div class="panel-heading">
			 						<div class="row">
			 							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left text-primary zeroPadding"> 
			 								<button class="btn btn-sm btn-info" type="button" ng-click="displayBeaconObjects()">Objects Served</button>					
			 							</div>
			 							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center text-primary zeroPadding">
			 								Associated: {{curBeacon.associated}}
			 							</div>
				 						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right pull-right zeroPadding">
				 							<div class="btn-group">
					 							<button class="btn btn-sm fakeButton">Type: {{curBeacon.beacon_type}}</button>
					 							<button class="btn btn-sm btn-warning" type="button" data-toggle="modal" data-target="#beaconTypeEditModal">
					 								<span class="glyphicon glyphicon-edit"></span>
					 							</button>
				 							</div>
				 						</div>
				 					</div>
			 					</div>
			 					<div class="panel-body borderDark" id="googleMapsBeacon"></div>
			 					<div class="panel-footer bgDark222 border0">
			 						<div class="row">
			 							<h4 class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left text-primary">Altitude: {{curBeacon.altitude | number: 3}}</h4>
					 					<h4 class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center text-primary">Latitude: {{curBeacon.latitude | number: 3}}</h4>
					 					<h4 class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right text-primary">Longitude: {{curBeacon.longitude | number: 3}}</h4>
			 						</div>
			 					</div>
			 				</div>
		 				</div>

			 			<!-- Objects List -->
			 			<div ng-switch-when="objectsList">
			 				<div ng-switch="viewType">
				 				<div ng-switch-when="List" class="panel-body">
					 				<table class="table table-hover table-striped table-condensed table-responsive">
						 				<thead>
						 					<tr>
						 						<th></th>
						 						<th>Name</th>
						 						<th>Beacon Name</th>
						 						<th class="hidden-xs hidden-sm columnSm">#Images</th>
						 						<th class="hidden-xs hidden-sm columnSm">#Audio</th>
						 						<th class="hidden-xs hidden-sm columnSm">#Video</th>
						 						<th class="hidden-xs hidden-sm columnSm">#3D</th>
						 						<th></th>
						 					</tr>
						 				</thead>
						 				<tbody>
						 					<tr ng-repeat="obj in objectsArray | filterByBeacon: beaconsFilter | orderBy: 'beacon_name'">
						 						<td ng-click="displaythumbNailModal(obj)" style="height:3em; width: 3em;">
						 							<img ng-src="{{obj.thumbnail}}" class="img-rounded pull-left" alt="{{obj.name}}" style="height:3em; width: 3em; margin: 0 auto;">
						 						</td>
						 						<td ng-click="displayObject(obj)">{{obj.name}}</td>
						 						<td ng-click="loadBeacon(obj.beacon_name)">{{obj.beacon_name}}</td>
						 						<td ng-click="displayFilteredAssets('image', obj)" class="hidden-xs hidden-sm columnSm text-center">
						 							<span class="badge">{{obj.numImage}}</span>
						 						</td>
						 						<td ng-click="displayFilteredAssets('audio', obj)" class="hidden-xs hidden-sm columnSm text-center">
						 							<span class="badge">{{obj.numAudio}}</span>
						 						</td>
						 						<td ng-click="displayFilteredAssets('video', obj)" class="hidden-xs hidden-sm columnSm text-center">
						 							<span class="badge">{{obj.numVideo}}</span>
						 						</td>
						 						<td ng-click="displayFilteredAssets('3d', obj)" class="hidden-xs hidden-sm columnSm text-center">
						 							<span class="badge">{{obj.num3D}}</span>
						 						</td>
						 						<td class="iconCell">
						 							<span class="glyphicon glyphicon-plus addIcon" ng-click="displayAddAssetsModal(obj)"></span>
						 							<span class="glyphicon glyphicon-pencil editIcon" ng-click="displayEditObjectModal(obj)"></span>
						 							<span class="glyphicon glyphicon-remove deleteIcon" ng-click="removeObject(arObject)"></span>
						 						</td>
						 					</tr>
						 				</tbody>
						 			</table>
								</div>
								<!-- Google Maps API -->
								<div ng-switch-when="Map" class="panel-body" style="padding-top: 0; padding-bottom: 0;">
					 				<div id="googleMapsObjects" class="panel borderDark"></div>
					 			</div>
							</div>
			 			</div>

			 			<!-- Object (Singular) -->
		 				<div ng-switch-when="object" style="height: inherit;">
		 					<div class="panel-body" style="height: inherit; padding-bottom: 0;">
		 						<div class="panel-heading">
		 							<div class="row">
			 							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left zeroPadding">
			 								<div class="btn-group">
				 								<button class="btn btn-sm btn-info" type="button" ng-click="loadBeacon(curObj.beacon_name)">Beacon: {{curObj.beacon_name}}</button>
				 								<button class="btn btn-sm btn-warning" data-toggle="modal" data-target="#editBeacForObjModal">
				 									<span class="glyphicon glyphicon-edit"></span>
				 								</label>
			 								</div>
			 							</div>
			 							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center zeroPadding">
			 								<div class="btn-group">
			 									<button class="btn btn-sm btn-success" type="button" data-toggle="modal" ng-click="displayAddAssetsModal(curObj)">
										          <span class="glyphicon glyphicon-plus"></span> 
										        </button>
			 									<button class="btn btn-sm btn-info" type="button" ng-click="displayAssetsModal()">Media</button>
										    </div>
			 							</div>
				 						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right zeroPadding">
				 							<button class="btn btn-sm btn-info" type="button" ng-click="displayDescriptionModal()">Description</button>
				 						</div>
				 					</div>
		 						</div>
		 						<!-- Google Maps API -->
			 					<div class="panel-body borderDark" id="googleMapsObject"></div>
			 					<div class="panel-footer bgDark222 border0">
			 						<div class="row">
					 					<h4 class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left text-primary">Altitude: {{curObj.altitude | number: 3}}</h4>
					 					<h4 class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center text-primary">Latitude: {{curObj.latitude | number: 3}}</h4>
					 					<h4 class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right text-primary">Longitude: {{curObj.longitude | number: 3}}</h4>
					 				</div>
			 					</div>
		 					</div>

		 					<!-- Edit Beacon for Object Modal -->
				 			<div class="modal fade" id="editBeacForObjModal" role="dialog" data-backdrop="true">
							    <div class="modal-dialog">
							      <!-- Edit Beacon for Object Modal content-->
							      <div class="modal-content">
							        <div class="modal-header text-primary text-center modalPadding-1-1">
							          <button type="button" class="close deleteIcon" data-dismiss="modal">&times;</button>
							          <h2 class="modal-title"><b>Change {{curObj.name}}'s service beacon</b></h2>
							        </div>
							        <div class="modal-body modalPadding-1-2">
							        	<div class="panel panel-default text-center bgDark333 borderDark">
							        		<div class="panel-body" id="googleMapsEditBeacForObj"></div>
						        			<h5 class="panel-body zeroPadding">Click a marker to determine the object's new service beacon.</h5>
			            					<h6 class="panel-body text-muted zeroPadding">Note: circles indicates a beacon's maximum service range.</h6>
							        	</div>
							        </div>
							        <div class="modal-footer">
							          <button type="button" class="btn btn-info pull-right" data-dismiss="modal">Close</button>
							        </div>
							      </div>
							    </div>
							</div>

		 					<!-- Description Modal -->
				 			<div class="modal fade" id="descriptionModal" role="dialog" data-backdrop="true">
							    <div class="modal-dialog" >
							      <!-- Description Modal content-->
							      <div class="modal-content">
							        <div class="modal-header text-primary text-center modalPadding-1-2">
							          <button type="button" class="close deleteIcon" data-dismiss="modal">&times;</button>
							          <h2 class="modal-title"><b>{{curObj.name}}</b></h2>
							        </div>
							        <div class="modal-body text-left modalPadding-1-2" style="line-height: 1.5;">
							    		<form role="form" class="form">
							        		<div class="form-group">
							        			<textarea ng-hide="showObjDescEdit" rows="10" class="form-control" disabled style="cursor:default; resize: none; background-color: white;">{{curObj.description}}</textarea>
							        			<textarea ng-show="showObjDescEdit" class="form-control" rows="10" style="resize: none;" ng-model="editObjDesc"></textarea>
							        		</div>
							        		<button ng-show="showObjDescEdit" type="button" class="btn btn-block btn-success" ng-click="updateObjectDescription(editObjDesc)">Update</button>
							        	</form>
							        </div>
							        <div class="modal-footer">
							       		<button type="button" class="btn btn-warning pull-left" ng-click="toggleObjectDescriptionEdit()">Edit <span class="glyphicon glyphicon-pencil"></span></button>
							        	<button type="button" class="btn btn-info pull-right" data-dismiss="modal">Close</button>
							        </div>
							      </div>
							    </div>
							</div>
						</div>

			 			<!-- Stats -->
			 			<div ng-switch-when="stats" class="panel-body" style="padding-top: 0; padding-bottom: 0;">
			 				<div id="googleMapsStats" class="panel borderDark"></div>
			 			</div>
			 		</div>
			 	</div>

			 	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Global Modals~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
			 	<!-- Modal for creating an organization-->
				  <div class="modal fade" id="addOrgModal" role="dialog">
				    <div class="modal-dialog">
				    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header text-primary text-center modalPadding-1-2">
				          <button type="button" class="close deleteIcon" data-dismiss="modal">&times;</button>
				          <h2><b>Organization creation</b></h2>
				        </div>
				        <div class="modal-body modalPadding-2-4">
				          <form role="form">
				            <div class="form-group">
				              <label>Name</label>
				              <input type="text" class="form-control" placeholder="Enter organization's name" ng-model="addOrgName" required>
				            </div>
				            <div class="form-group">
				              <label>Description</label>
				              <input type="text" class="form-control" placeholder="Enter organization's description" ng-model="addOrgDesc" required>
				            </div>
				            <button type="submit" class="btn btn-success btn-block" ng-click="addOrganization(addOrgName, addOrgDesc)" data-dismiss="modal">Create</button>
				          </form>
				        </div>
				        <div class="modal-footer">
				          <button type="submit" class="btn btn-info pull-right" data-dismiss="modal">Close</button>
				        </div>
				      </div>
				    </div>
				  </div>

				  <!-- Modal for deleting an organization-->
				  <div class="modal fade" id="removeOrgModal" role="dialog">
				    <div class="modal-dialog">
				    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header text-primary text-center modalPadding-1-1">
				          <button type="button" class="close deleteIcon" data-dismiss="modal">&times;</button>
				          <h2><b>Organization deletion</b></h2>
				        </div>
				        <div class="modal-body modalPadding-2-5">
				          <form role="form">
				            <div class="form-group">
				            	<ul class="list list-unstyled fontDark">
					        		<li ng-repeat="organization in organizationsArray" class="panel panel-primary">
				        				<h4 class="panel-heading" style="margin-top: 0;" data-dismiss="modal">{{organization.name}}</h4>
				        				<div class="panel-body text-left">
				        					<label class="label label-info">Description:</label>
				        					<h5 style="display:inline;">{{organization.description}}</h5>
				        				</div>
				        				<div class="panel-footer text-center">
				        					<label class="btn btn-danger text-center" ng-click="removeOrganization(organization)">Delete <span class="glyphicon glyphicon-remove"></span></label>
				        				</div>
					        		</li>
					        	</ul>
				            </div>
				          </form>
				        </div>
				        <div class="modal-footer">
				          <button type="submit" class="btn btn-info pull-right" data-dismiss="modal">Close</button>
				        </div>
				      </div>
				      
				    </div>
				  </div> 

			 	<!-- Modal for creating an beacon-->
				<div class="modal fade" id="addBeaconModal" role="dialog">
				    <div class="modal-dialog">
				    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header text-primary text-center modalPadding-1-1">
				          <button type="button" class="close deleteIcon" data-dismiss="modal">&times;</button>
				          <h2><b>Beacon creation for {{curOrg.name}}</b></h2>
				        </div>
				        <div class="modal-body text-center modalPadding-1-2">
				          <form role="form">
				            <div class="form-group">
				              <label>Name:</label>
				              <input type="text" class="form-control" placeholder="Enter beacon's name" ng-model="addBeaconName" required>
				            </div>
				            <div class="form-group form-group">
				            	<label>Type:</label>
							    <select ng-model="addBeaconType" class="form-control input-sm" required>
							    	<option value="" disabled selected hidden>Select beacon type</option>
							    	<option ng-repeat="cur in beaconTypes" value={{cur.type}>{{cur.type}}</option>
							    </select>
				            </div>
				            <h4><label>Location:</label></h4> 
				            <div class="form-group panel panel-default text-center bgDark333 borderDark">
				            	<div id="googleMapsAddBeacon" class="panel-body borderDark">
				            	</div>
				            	<h5 class="panel-body zeroPadding">Click a position on the map to the determine the beacon's location.</h5>
				            	<h6 class="panel-body text-muted zeroPadding">Note: Blue circles indicates a beacon's maximum service range.</h6>
				            </div>
				            <button type="submit" class="btn btn-success btn-block" ng-click="addBeacon(addBeaconName, addBeaconType)" data-dismiss="modal">Create</button>
				          </form>
				        </div>
				        <div class="modal-footer">
				          <button type="submit" class="btn btn-info pull-right" data-dismiss="modal">Close</button>
				        </div>
				      </div>
				    </div>
				</div>

				<!-- Beacon Editing Modal -->
				<div class="modal fade" id="editBeaconModal" role="dialog">
				    <div class="modal-dialog">
				    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header text-primary text-center modalPadding-1-2">
				          <button type="button" class="close deleteIcon" data-dismiss="modal">&times;</button>
				          <h2><b>Beacon editing for {{curBeacon.beacon_name}}</b></h2>
				        </div>
				        <div class="modal-body text-center modalPadding-1-2">
				          <form role="form">
				            <div class="form-group">
				              <label>Name:</label>
				              <input type="text" class="form-control" placeholder="Enter beacon's name" ng-model="editBeacName" required>
				            </div>
				            <div class="form-group form-group">
				            	<label>Type:</label>
							    <select ng-model="editBeacType" class="form-control input-sm" required>
							    	<option value="" disabled selected hidden>Select beacon type</option>
							    	<option ng-repeat="cur in beaconTypes" value={{cur.type}}>{{cur.type}}</option>
							    </select>
				            </div>
				            <h4><label>Location:</label></h4> 
				            <div class="form-group panel panel-default text-center bgDark333 borderDark">
				            	<div id="googleMapsEditBeacon" class="panel-body borderDark">
				            	</div>
				            	<h5 class="panel-body zeroPadding">Place the marker on the map to determine {{curBeacon.beacon_name}}'s updated location.</h5>
				            	<h6 class="panel-body text-muted zeroPadding">Note: Blue circle indicates a beacon's maximum service range.</h6>
				            </div>
				            <button type="submit" class="btn btn-success btn-block" ng-click="updateBeacon(editBeacName, editBeacType)" data-dismiss="modal">Update</button>
				          </form>
				        </div>
				        <div class="modal-footer">
				          <button type="submit" class="btn btn-info pull-right" data-dismiss="modal">Close</button>
				        </div>
				      </div>
				    </div>
				</div>

				<!-- Modal for editing a beacon's type-->
				<div class="modal fade" id="beaconTypeEditModal" role="dialog">
				    <div class="modal-dialog">
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header text-primary text-center modalPadding-1-2">
				          <button type="button" class="close deleteIcon" data-dismiss="modal">&times;</button>
				          <h2><b>Type Editing for {{curBeacon.beacon_name}}</b></h2>
				        </div>
				        <div class="modal-body modalPadding-1-2">
				          <form role="form">
				          	<div class="form-group form-group">
				            	<label>Type:</label>
							    <select ng-model="newBeaconType" class="form-control" required>
							    	<option value="" disabled selected hidden>{{curBeacon.beacon_type}}</option>
							    	<option ng-repeat="cur in beaconTypes" value={{cur.type}}>{{cur.type}}</option>
							    </select>
				            </div> 
				            <button type="submit" class="btn btn-success btn-block" ng-click="updateBeaconType(newBeaconType)" data-dismiss="modal">Confirm</button>
				          </form>
				        </div>
				        <div class="modal-footer">
				          <button type="submit" class="btn btn-info pull-right" data-dismiss="modal">Close</button>
				        </div>
				      </div>
				    </div>
				</div>

				<!-- Modal for creating an object-->
				<div class="modal fade" id="addObjectModal" role="dialog">
				    <div class="modal-dialog">
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header text-primary text-center modalPadding-1-1">
				          <button type="button" class="close deleteIcon" data-dismiss="modal">&times;</button>
				          <h2><b>Object creation for {{curOrg.name}}</b></h2>
				        </div>
				        <div class="modal-body text-center modalPadding-1-2">
				          <form role="form">
				            <div class="form-group">
				              <label>Name:</label>
				              <input type="text" class="form-control" placeholder="Enter object's name" ng-model="addObjectName" required>
				            </div>
				            <div class="form-group">
				              <label>Description:</label>
				              <textarea type="text" class="form-control" placeholder="Enter object's description" ng-model="addObjectDesc" rows=3 required style="resize: none;"></textarea>
				            </div>
				            <div class="form-group">
				            	<label>Thumbnail:</label><br>
				            	<div class="panel panel-default bgDark333 borderDark">
				            		<label class="panel-body">
					            		<label class="btn btn-info" for="thumbnailSelect">
										    <input id="thumbnailSelect" type="file" style="display:none;" custom-on-change="updateThumbnailLabel" accept="image/*" required>
										    Browse
										</label>
										<span class='label label-warning'>{{curThumbnail}}</span>
									</label>
				            	</div>
				            </div>
				            <h4><label>Location:</label></h4>
				            <div class="form-group panel panel-default text-center bgDark333 borderDark">
				            	<div id="googleMapsAddObject" class="panel-body borderDark">
				            	</div>
				            	<h5 class="panel-body zeroPadding">Click a position on the map to the determine the object's location.</h5>
				            	<h6 class="panel-body text-muted zeroPadding">Note: Blue circles indicates a beacon's maximum service range.</h6>
				            </div>
				            <button type="submit" class="btn btn-success btn-block" ng-click="thumbnailResize(addObjectName, addObjectDesc)" data-dismiss="modal">Create</button>
				          </form>
				        </div>
				        <div class="modal-footer">
				          <button type="submit" class="btn btn-info pull-right" data-dismiss="modal">Close</button>
				        </div>
				      </div>
				    </div>
				</div>

				<!-- Modal for editing an object-->
				<div class="modal fade" id="editObjectModal" role="dialog">
				    <div class="modal-dialog">
				    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header text-primary text-center modalPadding-1-1">
				          <button type="button" class="close deleteIcon" data-dismiss="modal">&times;</button>
				          <h2><b>Object editing for {{curObj.name}}</b></h2>
				        </div>
				        <div class="modal-body text-center modalPadding-1-2">
				          <form role="form">
				            <div class="form-group">
				              <label>Name:</label>
				              <input type="text" class="form-control" placeholder="Enter object's name" ng-model="editObjName" required>
				            </div>
				            <div class="form-group">
				              <label>Description:</label>
				              <textarea type="text" class="form-control" placeholder="Enter object's description" ng-model="editObjDesc" rows=3 required style="resize: none;"></textarea>
				            </div>
				            <h4><label>Location:</label></h4>
				            <div class="form-group panel panel-default text-center bgDark333 borderDark">
				            	<div id="googleMapsEditObject" class="panel-body borderDark">
				            	</div>
				            	<h5 class="panel-body zeroPadding">Place the marker on the map to determine the object's updated location.</h5>
				            	<h6 class="panel-body text-muted zeroPadding">Note: Blue circles indicates a beacon's maximum service range.</h6>
				            </div>
				            <button type="submit" class="btn btn-success btn-block" ng-click="updateObject(editObjName, editObjDesc)" data-dismiss="modal">Update</button>
				          </form>
				        </div>
				        <div class="modal-footer">
				          <button type="submit" class="btn btn-info pull-right" data-dismiss="modal">Close</button>
				        </div>
				      </div>
				    </div>
				</div>

				<!-- Modal for creating a beacon for an object out of range of others -->
				  <div class="modal fade" id="beaconForObjectModal" role="dialog">
				    <div class="modal-dialog">
				    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header text-primary text-center modalPadding-1-1">
				          <button type="button" class="close deleteIcon" data-dismiss="modal">&times;</button>
				          <h2><b>Beacon creation for {{curOrg.name}}</b></h2>
				        </div>
				        <div class="modal-body text-center modalPadding-1-2">
				          <form role="form">
				            <div class="form-group">
				              <label>Name</label>
				              <input type="text" class="form-control" placeholder="Enter beacon's name" ng-model="addBeaconForObjectName" required>
				            </div>
				            <div class="form-group">
				            	<label>Type:</label>
							    <select ng-model="addBeaconForObjectType" class="form-control" required>
							    	<option value="" disabled selected hidden>Select beacon type</option>
							    	<option ng-repeat="cur in beaconTypes" value={{cur.type}}>{{cur.type}}</option>
							    </select>
				            </div>
				            <div class="form-group">
				            	<label class="label label-warning">Location pre-determined from the new object's location.</label>
				            </div> 
				            <button type="submit" class="btn btn-success btn-block" ng-click="addBeaconForObject(addBeaconForObjectName, addBeaconForObjectType)" data-dismiss="modal">Create</button>
				          </form>
				        </div>
				        <div class="modal-footer">
				          <button type="submit" class="btn btn-info pull-right" data-dismiss="modal">Close</button>
				        </div>
				      </div>
				    </div>
				</div>

				<!-- Modal for creating an object at a beacon -->
				<div class="modal fade" id="addObjectAtBeaconModal" role="dialog">
				    <div class="modal-dialog">
				    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header text-primary text-center modalPadding-1-2">
				          <button type="button" class="close deleteIcon" data-dismiss="modal">&times;</button>
				          <h2><b>Object creation within {{curBeacon.beacon_name}}'s service range</b></h2>
				        </div>
				        <div class="modal-body text-center modalPadding-1-2">
				          <form role="form">
				            <div class="form-group">
				              <label>Name:</label>
				              <input type="text" class="form-control" placeholder="Enter object's name" ng-model="addObjectName" required>
				            </div>
				            <div class="form-group">
				              <label>Description:</label>
				              <textarea type="text" class="form-control" placeholder="Enter object's description" ng-model="addObjectDesc" rows=3 required style="resize: none;"></textarea>
				            </div>
				            <div class="form-group">
				            	<label>Thumbnail:</label><br>
				            	<div class="panel panel-default bgDark333 borderDark">
				            		<label class="panel-body">
					            		<label class="btn btn-info" for="thumbnailSelect">
										    <input id="thumbnailSelect" type="file" style="display:none;" custom-on-change="updateThumbnailLabel" accept="image/*" required>
										    Browse
										</label>
										<span class='label label-warning'>{{curThumbnail}}</span>
									</label>
				            	</div>
				            </div>
				            <h4><label>Location:</label></h4>
				            <div class="form-group panel panel-default text-center bgDark333 borderDark">
				            	
				            	<div id="googleMapsAddObjectAtBeacon" class="panel-body borderDark">
				            	</div>
				            	<h5 class="panel-body zeroPadding">Click a position on the map to the determine the object's location.</h5>
				            	<h6 class="panel-body text-muted zeroPadding">Note: Blue circle indicates a beacon's maximum service range.</h6>
				            </div>
				            <button type="submit" class="btn btn-success btn-block" ng-click="thumbnailResize(addObjectName, addObjectDesc)" data-dismiss="modal">Create</button>
				          </form>
				        </div>
				        <div class="modal-footer">
				          <button type="submit" class="btn btn-info pull-right" data-dismiss="modal">Close</button>
				        </div>
				      </div>
					</div>
				</div>

				<!-- Asset Creation Modal -->
				<div class="modal fade" id="addAssetsModal" role="dialog">
				    <div class="modal-dialog">
				    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header text-center modalPadding-1-2">
				          <button type="button" class="close deleteIcon" data-dismiss="modal">&times;</button>
				          <h2 class="text-primary"><b>New Media Content for {{curObj.name}}</b></h2>
				        </div>
				        <div class="modal-body text-center modalPadding-2-3">
				          <form role="form" class="form">
				            <div class="form-group well well-sm bgDark333 borderDark">
			            		<h4 class="text-primary">Import image, audio, video, or 3D files:</h4>
			            		<label class="btn btn-info" for="assetFiles">
								    <input id="assetFiles" type="file" style="display:none;" accept="image/*|audio/*|video*" custom-on-change="uploadFile" required multiple="true"></input>
								    Browse
								</label>
				            </div>
				            <div class="form-group well well-sm form-horizontal bgDark333 borderDark">
				              <h4 class="text-primary">Enter a title for each file:</h4>
				            	<ul class="list list-unstyled">
				            		<li ng-if="files.length < 1" class='label label-warning float-left'>No files chosen.</li>
				            		<li ng-repeat="file in files" style="margin-bottom: 1em;">
				            			<label class="label label-warning" id="fileLabel">
				            				{{file.name}}
									        <span class="glyphicon glyphicon-remove pull-right cancelFile" ng-click="removeFile($index)"></span>
				            			</label>
				            			<input type="text" class="form-control input-sm" placeholder="Enter title" ng-model="fileNames[$index]" style="width:66%;" required></input>
				            		</li>
				            	</ul>
				            </div>	
				            <button type="submit" class="btn btn-success btn-block" ng-click="multiFileUpload()" data-dismiss="modal">Upload</button>
				          </form>
				        </div>
				        <div class="modal-footer">
				          <button type="submit" class="btn btn-info pull-right" data-dismiss="modal">Close</button>
				        </div>
				      </div>
				    </div>
				</div>

 				<!-- Assets/Media Modal -->
				<div class="modal fade" id="assetsModal" role="dialog" data-backdrop="true">
					<div class="modal-dialog modal-lg">
						<!-- Assets/Media Modal content-->
						<div class="modal-content">
							<div class="modal-header text-primary text-center modalPadding-2-1">
							  <button type="button" class="close deleteIcon" data-dismiss="modal">&times;</button>
							  <h2 class="modal-title"><b>{{curObj.name}} Media Gallery</b></h2>
							</div>
							<div class="modal-body" style="min-height: 25vh;max-height: 70vh;">
								<!-- Media Content -->
								<div class="row">
									<div ng-repeat="asset in assets | filter: galleryMediaFilter" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<div class="thumbnail thumbnailGalleryContainer">
											<span class="glyphicon glyphicon-remove deleteIcon pull-right" ng-click="removeAsset(asset)" style="margin-bottom: 0.5em;"></span>
											<div class="thumbnailGalleryItem center-block" ng-click="displayAssetCarouselModal(asset)">
												<img ng-if="asset.thumbnail == '' && asset.content_type == 'audio'" class="img-circle thumbnailGallerySrc center-block text-center" ng-src={{genericAudioThumbnail}} alt="{{asset.name}}">
												<img ng-if="!(asset.thumbnail == '' && asset.content_type == 'audio')" class="img-circle thumbnailGallerySrc center-block text-center" ng-src={{asset.thumbnail}} alt="{{asset.name}}">
												<div class="thumbnailGalleryOverlay">
									            	<span ng-if="asset.content_type == 'image'" class="glyphicon glyphicon-picture"></span>
									            	<span ng-if="asset.content_type == 'audio'" class="glyphicon glyphicon-music"></span>
									            	<span ng-if="asset.content_type == 'video'" class="glyphicon glyphicon-film"></span>
									            	<span ng-if="asset.content_type == 'threeD'" class="glyphicon glyphicon-picture">3D</span>
										    	</div>
										    </div>
									    	<h4 class="text-center text-primary ellipsisWrap">
									    		{{asset.name}}
									    	</h4>
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer container-fluid">
								<form class="pull-left text-primary">
									Filter:
								    <label class="checkbox-inline">
								      <input type="checkbox" ng-model="galleryFilter['image']">Image
								    </label>
								    <label class="checkbox-inline">
								      <input type="checkbox" ng-model="galleryFilter['audio']">Audio
								    </label>
								    <label class="checkbox-inline">
								      <input type="checkbox" ng-model="galleryFilter['video']">Video
								    </label>
								    <label class="checkbox-inline">
								      <input type="checkbox" ng-model="galleryFilter['threeD']">3D
								    </label>
							   </form>
							   <button type="button" class="btn btn-info pull-right" data-dismiss="modal">Close</button>
							</div>
					   	</div>
				    </div>
				</div>

				<!-- Asset Carousel Modal -->
	 			<div class="modal fade" id="assetCarouselModal" role="dialog" data-backdrop="true">
				    <div class="modal-dialog modal-lg">
				      <!-- Asset Carousel Modal content-->
				      <div class="modal-content">
				        <div class="modal-header text-primary text-center">
				          <button type="button" class="close deleteIcon" data-dismiss="modal">&times;</button>
				          <h2 class="modal-title"><b>{{curObj.name}} Media Carousel</b></h2>
				        </div>
				        <div class="modal-body text-center zeroPadding">
				        	<div id="galleryCarousel" class="carousel" data-ride="carousel" data-interval="false">
								<!-- Wrapper for slides -->
								<div class="carousel-inner">
									<!-- Assets  -->
									<div class="item media-wrap text-center center-block" ng-repeat="asset in assets track by asset.content_id" ng-class="{'active': $index == assetIndex}">
										<!-- Image -->
										<img ng-if="asset.content_type == 'image'" ng-src={{asset.value}} alt={{asset.name}} class="img-responsive">

										<!-- Audio -->
										<div ng-if="asset.content_type == 'audio'" class="center-block">
											<audio controls id="audioAsset">
												<source ng-src="{{asset.value}}" type="audio/mpeg" />
												<source ng-src="{{asset.value}}" type="audio/ogg" />
												<source ng-src="{{asset.value}}" type="audio/wav" />
												<a href="{{asset.value}}">{{asset.name}}</a>
											</audio>
										</div>

										<!-- Video -->
										<div ng-if="asset.content_type == 'video'" align="center" class="embed-responsive embed-responsive-16by9">
										    <video controls class="embed-responsive-item">
										    	<source src="{{asset.value}}" type="video/mp4">
  												<source src="{{asset.value}}" type="video/ogg">
										    </video>
										</div>

										<!-- 3D -->
										<!-- 3D Placeholder -->

										<!-- Caption for asset -->
										<div class="carousel-caption">
											<h3>
												<b style="padding-left: 0.5em;">{{asset.name}}</b>
												<span class="glyphicon glyphicon-remove deleteIcon float-right" ng-click="removeAsset(asset)"></span>
											</h3>
											<h4>
												<kbd>{{curAssetSlide}}/{{assets.length}}</kbd>
											</h4>
										</div>
									</div>
									</div>

								<!-- Left and right controls -->
								<a class="left carousel-control pointer" data-target="#galleryCarousel" data-slide="prev" ng-click="assetSlideLeft()">
									<span class="glyphicon glyphicon-chevron-left"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a ng-click="assetSlideRight()" class="right carousel-control pointer" data-target="#galleryCarousel" data-slide="next">
									<span class="glyphicon glyphicon-chevron-right"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>	
				        </div>
				        <div class="modal-footer">
				          <button type="button" class="btn btn-info pull-right" data-dismiss="modal">Close</button>
				        </div>
				      </div>
				    </div>
				</div>

				<!-- Thumbnail Modal -->
	 			<div class="modal fade" id="thumbnailModal" role="dialog" data-backdrop="true">
				    <div class="modal-dialog">
				      <!-- Thumbnail Modal content-->
				      <div class="modal-content">
				        <div class="modal-header text-primary text-center">
				          <button type="button" class="close deleteIcon" data-dismiss="modal">&times;</button>
				          <h2 class="modal-title"><b>{{modalHeader}}</b></h2>
				        </div>
				        <div class="modal-body text-center">
				        	<img class="img-rounded thumbnail150x150" ng-src={{modalImgSrc}}>
				        </div>
				        <div class="modal-footer">
				        	<ul class="list-inline pull-left d-inline">
				        		<li>#Images: <span ng-click="displayFilteredAssets('image', curObj)" class="badge pointer">{{curObj.numImage}}</span></li>
				        		<li>#Audio: <span ng-click="displayFilteredAssets('audio', curObj)" class="badge pointer">{{curObj.numAudio}}</span></li>
				        		<li>#Video: <span ng-click="displayFilteredAssets('video', curObj)" class="badge pointer">{{curObj.numVideo}}</span></li>
				        		<li>#3D: <span ng-click="displayFilteredAssets('3d', curObj)" class="badge pointer">{{curObj.num3D}}</span></li>				
				        	</ul>
				          <button type="button" class="btn btn-info pull-right d-inline" data-dismiss="modal">Close</button>
				        </div>
				      </div>  
				    </div>
				</div>
 			</div>
 			<footer class="footer text-muted">
				© 2017 Aura Technologies Inc. 
				<br>
				<a class="text-info" href="http://www.auracr.io/" target="_blank" style="text-decoration: none;">auracr.io</a>
			</footer>
			<div id="alert"></div>
			<div class="progress" ng-show="fbLoading">
				<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
					{{progressPercent | number:0}}% Complete
				</div>
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type='text/javascript'></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" type='text/javascript'></script>
		<script src="https://www.gstatic.com/firebasejs/4.1.1/firebase.js" type='text/javascript'></script>
		<script src="stats/willStats.js" type='text/javascript'></script>
		<script src="scripts/bootbox.min.js" type='text/javascript'></script>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCq80g8ye8MQaNGW3BOVaj0VY3m7jpomoY&libraries=visualization" type='text/javascript'></script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script src="scripts/auraCreateAppModule.js" type='text/javascript'></script>
		<script src="scripts/config.js" type='text/javascript'></script>
		<script src="scripts/mainController.js" type='text/javascript'></script>
		<script src="scripts/viewController.js" type='text/javascript'></script>
		<script src="scripts/carouselControls.js" type='text/javascript'></script>
		<script src="scripts/userManagement.js" type='text/javascript'></script>
		<script src="scripts/organizationManagement.js" type='text/javascript'></script>
		<script src="scripts/beaconManagement.js" type='text/javascript'></script>
		<script src="scripts/objectManagement.js" type='text/javascript'></script>
		<script src="scripts/assetManagement.js" type='text/javascript'></script>
		<script src="scripts/statManagement.js" type='text/javascript'></script>
		<script src="scripts/dashboard.js" type='text/javascript'></script>
		<script src="scripts/firebaseManagement.js" type='text/javascript'></script>
		<script src="scripts/locationCalculations.js" type='text/javascript'></script>
		<script src="scripts/resetControls.js" type='text/javascript'></script>
		<script src="scripts/modals.js" type='text/javascript'></script>
		<script src="scripts/fileUpload.js" type='text/javascript'></script>
		<script src="scripts/directives.js" type='text/javascript'></script>
		<script src="scripts/filters.js" type='text/javascript'></script>
		<script src="scripts/customAlerts.js" type='text/javascript'></script>
		<script src="scripts/loading-bar.js" type='text/javascript'></script>
		<script src="scripts/googleMapsController.js" type='text/javascript'></script>
	</body>
</html>
